Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_management, coverage_management, test_authz, coverage_authz, test_port_loader, coverage_port_loader, build_port_loader, build_docker_image_opa, build_docker_image_authz, build_docker_image_management, publish_port_loader, authz_app_to_test_appcenter, management_app_to_test_appcenter

test_management:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd management-api
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_management:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd management-api
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=guardian_management_api .
  - coverage report --fail-under="$MANAGEMENT_COVERAGE_LIMIT"

test_authz:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd authorization-api
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_authz:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd authorization-api
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=guardian_authorization_api .
  - coverage report --fail-under="$AUTHZ_COVERAGE_LIMIT"

test_port_loader:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_port_loader:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=port_loader .
  - coverage report --fail-under="$PORT_LOADER_COVERAGE_LIMIT"

build_port_loader:
  stage: build_python
  needs:
  - test_port_loader
  - coverage_port_loader
  artifacts:
    paths:
    - port-loader/dist/
    expire_in: 1 week
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry
  ...

build_docker_image_opa:
  stage: build_docker
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/opa
    CI_REGISTRY_IMAGE: $CI_REGISTRY_IMAGE/guardian-opa
    KANIKO_ARGS: --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo=$CI_REGISTRY_IMAGE/cache

build_docker_image_authz:
  stage: build_docker
  needs:
  - test_authz
  - coverage_authz
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/authorization-api
    CI_REGISTRY_IMAGE: $CI_REGISTRY_IMAGE/guardian-authorization-api
  ...

build_docker_image_management:
  stage: build_docker
  needs:
  - test_management
  - coverage_management
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/management-api
    CI_REGISTRY_IMAGE: $CI_REGISTRY_IMAGE/guardian-management-api
  ...

publish_port_loader:
  stage: publish
  when: manual
  dependencies:
  - build_port_loader
  needs:
  - build_port_loader
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry
  ...

Issue #108: connect OPA for get_permissions
  authorization-api/guardian_authorization_api/adapters/policies.py
  authorization-api/tests/adapters/test_policies.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #118: condition actor_does_not_have_role
  management-api/alembic/1.0.0_builtin_conditions/actor_does_not_have_role.json
  management-api/alembic/1.0.0_builtin_conditions/actor_does_not_have_role.rego
  management-api/alembic/1.0.0_builtin_conditions/actor_does_not_have_role_test.rego
Due: test_management, coverage_management, build_docker_image_management

Issue #118: condition target_does_not_have_role
  management-api/alembic/1.0.0_builtin_conditions/target_does_not_have_role.json
  management-api/alembic/1.0.0_builtin_conditions/target_does_not_have_role.rego
  management-api/alembic/1.0.0_builtin_conditions/target_does_not_have_role_test.rego
Due: test_management, coverage_management, build_docker_image_management

Issue #34: namespace routes
  management-api/.coveragerc
  management-api/guardian_management_api/adapter_registry.py
  management-api/guardian_management_api/adapters/namespace.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/models/namespace.py
  management-api/guardian_management_api/models/routers/namespace.py
  management-api/guardian_management_api/ports/namespace.py
  management-api/guardian_management_api/routers/namespace.py
  management-api/tests/adapters/test_namespace.py
  management-api/tests/conftest.py
  management-api/tests/routes/test_router_namespace.py
  management-api/tests/test_adapter_registry.py
  management-api/tests/test_business_logic.py
Due: test_management, coverage_management, build_docker_image_management

Issue #118: condition target_has_role
  management-api/alembic/1.0.0_builtin_conditions/target_has_role.json
  management-api/alembic/1.0.0_builtin_conditions/target_has_role.rego
  management-api/alembic/1.0.0_builtin_conditions/target_has_role_test.rego
Due: test_management, coverage_management, build_docker_image_management

Issue #36: fix after rebase
  management-api/guardian_management_api/adapter_registry.py
  management-api/tests/test_adapter_registry.py
Due: test_management, coverage_management, build_docker_image_management

Issue #36: adapt ParentNotFoundError
  management-api/guardian_management_api/adapters/context.py
Due: test_management, coverage_management, build_docker_image_management

Issue #108: implement check_permissions with OPA
  authorization-api/guardian_authorization_api/adapters/policies.py
  authorization-api/guardian_authorization_api/models/policies.py
  authorization-api/tests/adapters/test_policies.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #36: get by namespace-name
  management-api/guardian_management_api/adapters/context.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/ports/context.py
  management-api/guardian_management_api/routers/context.py
  management-api/tests/adapters/test_context.py
  management-api/tests/routes/test_context.py
Due: test_management, coverage_management, build_docker_image_management

Issue #36: fix business-logic test
  management-api/guardian_management_api/adapter_registry.py
  management-api/guardian_management_api/business_logic.py
  management-api/tests/test_adapter_registry.py
  management-api/tests/test_business_logic.py
Due: test_management, coverage_management, build_docker_image_management

Issue #118: condition target_field_equals_value
  management-api/alembic/1.0.0_builtin_conditions/target_field_equals_value.json
  management-api/alembic/1.0.0_builtin_conditions/target_field_equals_value.rego
  management-api/alembic/1.0.0_builtin_conditions/target_field_equals_value_test.rego
Due: test_management, coverage_management, build_docker_image_management

Issue #36: get by app-name
  management-api/guardian_management_api/adapters/context.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/ports/context.py
  management-api/guardian_management_api/routers/context.py
  management-api/tests/adapters/test_context.py
  management-api/tests/routes/test_context.py
Due: test_management, coverage_management, build_docker_image_management

Issue #118: adapt pre-commit to ignore condition json files
  .pre-commit-config.yaml
Due: none

univention/components/authorization-engine/guardian#39: Implement SQLCapabilityPersistenceAdapter
  .env.example
  dev-compose.yaml
  management-api/alembic/versions/1.0.0_initial_schema.py
  management-api/guardian_management_api/adapter_registry.py
  management-api/guardian_management_api/adapters/capability.py
  management-api/guardian_management_api/adapters/sql_persistence.py
  management-api/guardian_management_api/errors.py
  management-api/guardian_management_api/models/capability.py
  management-api/guardian_management_api/models/role.py
  management-api/guardian_management_api/models/sql_persistence.py
  management-api/guardian_management_api/ports/capability.py
  management-api/pyproject.toml
  management-api/tests/adapters/test_capability.py
  management-api/tests/conftest.py
  management-api/tests/routes/test_condition.py
  management-api/tests/test_adapter_registry.py
Due: test_management, coverage_management, build_docker_image_management

Issue #22: Fixed setting password for user.
  dev-compose.yaml
  keycloak/Dockerfile
  keycloak/provisioning/configure.sh
Due: none

fixup! Issue #22: Added Keycloak and -Provisioning container.
  keycloak/provisioning/Dockerfile
Due: none

Issue #22: Added Keycloak and -Provisioning container.
  dev-compose.yaml
  keycloak/Dockerfile
  keycloak/provisioning/Dockerfile
  keycloak/provisioning/configure.sh
Due: none

univention/components/authorization-engine/guardian#39: Implement capability routes
  management-api/.coveragerc
  management-api/guardian_management_api/adapter_registry.py
  management-api/guardian_management_api/adapters/capability.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/models/base.py
  management-api/guardian_management_api/models/routers/capability.py
  management-api/guardian_management_api/ports/capability.py
  management-api/guardian_management_api/ports/condition.py
  management-api/guardian_management_api/routers/capability.py
  management-api/tests/adapters/test_capability.py
  management-api/tests/conftest.py
  management-api/tests/routes/test_capability.py
  management-api/tests/test_adapter_registry.py
Due: test_management, coverage_management, build_docker_image_management

Issue #43: Change FastAPI API regarding permission/check
  authorization-api/guardian_authorization_api/adapters/api.py
  authorization-api/guardian_authorization_api/models/routes.py
  authorization-api/guardian_authorization_api/routes.py
  authorization-api/tests/adapters/test_api.py
  authorization-api/tests/conftest.py
  authorization-api/tests/routes/test_permissions_check.py
Due: test_authz, coverage_authz, build_docker_image_authz

fixup! Issue #43: Change FastAPI API regarding permission/check
  authorization-api/guardian_authorization_api/models/routes.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #43: Implement routes for permission/check
  authorization-api/guardian_authorization_api/adapter_registry.py
  authorization-api/guardian_authorization_api/adapters/api.py
  authorization-api/guardian_authorization_api/adapters/policies.py
  authorization-api/guardian_authorization_api/business_logic.py
  authorization-api/guardian_authorization_api/models/opa.py
  authorization-api/guardian_authorization_api/models/policies.py
  authorization-api/guardian_authorization_api/models/routes.py
  authorization-api/guardian_authorization_api/ports.py
  authorization-api/guardian_authorization_api/routes.py
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  authorization-api/tests/__init__.py
  authorization-api/tests/adapters/__init__.py
  authorization-api/tests/adapters/test_api.py
  authorization-api/tests/adapters/test_policies.py
  authorization-api/tests/conftest.py
  authorization-api/tests/routes/__init__.py
  authorization-api/tests/routes/test_permissions_check.py
  authorization-api/tests/test_adapter_registry.py
  authorization-api/tests/test_business_logic.py
  opa/BaseBundle/univention/base.rego
  opa/BaseBundle/univention/base_test.rego
Due: test_authz, coverage_authz, build_docker_image_opa, build_docker_image_authz

Issue #43: Adjust coverage configuration
  authorization-api/.coveragerc
  authorization-api/guardian_authorization_api/routes.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #43: Remove unused models/api.py
  authorization-api/guardian_authorization_api/models/api.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #22: Authentication against Keycloak from API.
  authorization-api/Dockerfile
  dev-compose.yaml
  keycloak/Dockerfile
  keycloak/provisioning/configure.sh
Due: test_authz, coverage_authz, build_docker_image_authz

univention/components/authorization-engine/guardian#115: Change parameter to BundleType
  management-api/guardian_management_api/adapters/bundle_server.py
  management-api/tests/adapters/test_bundle_server.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#115: Schedule bundle build for create/update condition
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/routers/condition.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#115: Move base code into policy bundle
  .pre-commit-config.yaml
  management-api/Dockerfile
  management-api/guardian_management_api/adapters/bundle_server.py
  management-api/guardian_management_api/constants.py
  management-api/rego_policy_bundle_template/.manifest
  management-api/rego_policy_bundle_template/guardian/conditions/stock.rego
  management-api/rego_policy_bundle_template/guardian/conditions/stock_test.rego
  management-api/rego_policy_bundle_template/univention/base.rego
  management-api/rego_policy_bundle_template/univention/base_test.rego
  management-api/rego_policy_bundle_template/univention/mapping/data.json
  management-api/rego_policy_bundle_template/univention/utils.rego
  management-api/rego_policy_bundle_template/univention/utils_test.rego
  management-api/tests/adapters/test_bundle_server.py
  management-api/tests/conftest.py
  opa/Dockerfile
  opa/s6-rc.d/opa/run
Due: test_management, coverage_management, build_docker_image_opa, build_docker_image_management

univention/components/authorization-engine/guardian#115: Add validation for base64
  management-api/guardian_management_api/models/routers/base.py
  management-api/tests/models/routers/test_base.py
  management-api/tests/routes/test_condition.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#115: Remove dummy condition
  management-api/guardian_management_api/adapters/bundle_server.py
  management-api/tests/adapters/test_bundle_server.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#114: Generate mapping from persistence
  management-api/guardian_management_api/adapters/bundle_server.py
  management-api/guardian_management_api/main.py
  management-api/guardian_management_api/ports/bundle_server.py
  management-api/rego_policy_bundle_template/univention/base.rego
  management-api/rego_policy_bundle_template/univention/base_test.rego
  management-api/rego_policy_bundle_template/univention/test_mapping/data.json
  management-api/tests/adapters/test_bundle_server.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#115: Add conditions to policiy bundle
  management-api/README.md
  management-api/guardian_management_api/adapters/bundle_server.py
  management-api/guardian_management_api/main.py
  management-api/guardian_management_api/ports/bundle_server.py
  management-api/tests/adapters/test_bundle_server.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#115: Extract build dir preparation from build_bundle
  management-api/guardian_management_api/adapters/bundle_server.py
  management-api/tests/adapters/test_bundle_server.py
Due: test_management, coverage_management, build_docker_image_management

Issue #22: Python Keycloak provisioning.
  keycloak/provisioning/Dockerfile
  keycloak/provisioning/configure.py
  keycloak/provisioning/guardian.json
  keycloak/provisioning/localhost_guardian.json
Due: none

Issue #43: add E2E test for get permissions
  authorization-api/tests/conftest.py
  authorization-api/tests/routes/test_get_permissions.py
  authorization-api/tests/routes/test_permissions_check.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #42: check permissions with lookup
  authorization-api/guardian_authorization_api/adapters/api.py
  authorization-api/guardian_authorization_api/business_logic.py
  authorization-api/guardian_authorization_api/models/api.py
  authorization-api/guardian_authorization_api/ports.py
  authorization-api/guardian_authorization_api/routes.py
  authorization-api/tests/conftest.py
  authorization-api/tests/mock_classes.py
  authorization-api/tests/routes/test_permissions_check.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #59: Add Role-Capability-Mapping UI with mock data
  management-ui/package.json
  management-ui/src/helpers/dataAccess.ts
  management-ui/src/helpers/mocks/capabilities/capabilitiesListResponseModel.ts
  management-ui/src/helpers/mocks/capabilities/capabilityDetailResponseModel.ts
  management-ui/src/helpers/mocks/capabilities/index.ts
  management-ui/src/helpers/mocks/configs/addCapabilityViewConfig.ts
  management-ui/src/helpers/mocks/configs/addRoleViewConfig.ts
  management-ui/src/helpers/mocks/configs/index.ts
  management-ui/src/helpers/mocks/configs/listViewConfig.ts
  management-ui/src/helpers/mocks/index.ts
  management-ui/src/helpers/mocks/roles/roleDetailResponseModel.ts
  management-ui/src/helpers/mocks/utils.ts
  management-ui/src/helpers/models/interface.ts
  management-ui/src/i18n/locales/de.json
  management-ui/src/i18n/locales/en.json
  management-ui/src/router/index.ts
  management-ui/src/views/EditView.vue
  management-ui/src/views/ListView.vue
  management-ui/yarn.lock
Due: none

Issue #22: Oauth adapter for authorization-api
  .env.example
  .pre-commit-config.yaml
  README.md
  authorization-api/guardian_authorization_api/adapter_registry.py
  authorization-api/guardian_authorization_api/main.py
  authorization-api/guardian_authorization_api/models/opa.py
  authorization-api/guardian_authorization_api/routes.py
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  authorization-api/tests/conftest.py
  authorization-api/tests/routes/test_app.py
  authorization-api/tests/routes/test_permissions_check.py
  authorization-api/tests/test_adapter_registry.py
  authorization-api/tests/test_business_logic.py
  dev-compose.yaml
  guardian-lib/CHANGELOG.md
  guardian-lib/guardian_lib/adapters/authentication.py
  guardian-lib/guardian_lib/models/authentication.py
  guardian-lib/guardian_lib/ports.py
  guardian-lib/poetry.lock
  guardian-lib/pyproject.toml
  guardian-lib/tests/adapters/test_authentication.py
  guardian-lib/tests/conftest.py
  keycloak/Dockerfile
  keycloak/provisioning/Dockerfile
  keycloak/provisioning/configure.py
  keycloak/provisioning/guardian_client_config.json
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #22: Update guardian-lib version
  guardian-lib/CHANGELOG.md
  guardian-lib/pyproject.toml
Due: none

Issue #22: Update guardian-lib dependency
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #59: format typescript
  management-ui/src/helpers/dataAccess.ts
  management-ui/src/helpers/mocks/capabilities/capabilityDetailResponseModel.ts
  management-ui/src/helpers/mocks/capabilities/index.ts
  management-ui/src/helpers/mocks/configs/addCapabilityViewConfig.ts
  management-ui/src/helpers/mocks/index.ts
  management-ui/src/helpers/models/interface.ts
  management-ui/src/router/index.ts
  management-ui/src/views/EditView.vue
  management-ui/src/views/ListView.vue
Due: none

Path conditions:
  test_management: any of: management-api/**/*
  coverage_management: any of: management-api/**/*
  test_authz: any of: authorization-api/**/*
  coverage_authz: any of: authorization-api/**/*
  test_port_loader: any of: port-loader/**/*
  coverage_port_loader: any of: port-loader/**/*
  build_port_loader: any of: port-loader/**/*
  build_docker_image_opa: any of: opa/**/*
  build_docker_image_authz: any of: authorization-api/**/*
  build_docker_image_management: any of: management-api/**/*
  publish_port_loader: any of: port-loader/**/*
  authz_app_to_test_appcenter: any of: appcenter-authz/**/*
  management_app_to_test_appcenter: any of: appcenter-management/**/*
