Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_guardian_lib, publish_guardian-lib, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Path conditions:
  build_guardian_lib: any of: guardian-lib/**/*
  publish_guardian-lib: any of: guardian-lib/**/*
  ucs_test_deb_lint: any of: ucs-test-guardian/**/*
  ucs_test_deb_build_git: any of: ucs-test-guardian/**/*
  ucs_test_deb_repo_import: any of: ucs-test-guardian/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-guardian/debian/changelog
  docs-linkcheck: any of: docs/guardian-manual/**/*
  docs-spelling: any of: docs/guardian-manual/**/*
  docs-html: any of: docs/guardian-manual/**/*
  docs-pdf: any of: docs/guardian-manual/**/*
  docs-warnings: any of: docs/guardian-manual/**/*
  docs-merge-to-one-artifact: any of: docs/guardian-manual/**/*
  docs-create-production-merge-request: any of: docs/**/*

wip: clean out gitlab-ci to make it green again
  .gitlab-ci/gitlab-ci.yml
Due: none

ci(authorization-client): Build and publish the package using uv and common-ci component
  .gitlab-ci/gitlab-ci.yml
Due: none

fixup! wip: clean out gitlab-ci to make it green again
  .gitlab-ci/gitlab-ci.yml
Due: none

ci: fix the docker build jobs after the poetry -> uv migration
  .gitlab-ci/gitlab-ci.yml
Due: none

ci: add ai-review job
  .gitlab-ci.yml
  .gitlab-ci/ai-review.yml
Due: none

refactor: Migrate the main guardian packages from poetry to a shared uv workspace
  .pre-commit-config.yaml
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  guardian-lib/poetry.lock
  guardian-lib/pyproject.toml
  management-api/poetry.lock
  management-api/pyproject.toml
  pyproject.toml
  uv.lock
Due: build_guardian_lib, publish_guardian-lib

chore(dev-env): Traefik no longer tries to expose unrelated containers, depends-on for cleaner startup
  dev-compose.yaml
Due: none

test: Fix unittests after poetry -> uv migration
  guardian-lib/tests/__init__.py
  management-api/tests/models/__init__.py
  management-api/tests/models/routers/__init__.py
Due: build_guardian_lib, publish_guardian-lib

test: Update pyproject test config to run all tests without external dependencies by default
  authorization-api/pyproject.toml
  management-api/pyproject.toml
  pyproject.toml
Due: none

fix(authorization-api): Fix the Dockerfile after the poetry -> uv migration
  authorization-api/Dockerfile
  dev-compose.yaml
Due: none

tests(management-api): Create the guardian-scripts client and guardian user in Keycloak
  docs/developer-reference/tests.rst
  keycloak/provisioning/configure.py
  keycloak/provisioning/guardian_client_scripts_config.json
Due: docs-create-production-merge-request

docs(generated): Update generated docs
  AGENTS.md
  docs/generated/development-guide.md
Due: docs-create-production-merge-request

docs(dev): Update the developer docs with the poetry -> uv changes
  .gitlab-ci/gitlab-ci.yml
  README.dev.md
  authorization-api/README.md
  docs/project-context.md
  management-api/README.md
Due: docs-create-production-merge-request

chore(pre-commit): Add docker-compose pre-commit runner for pipeline debugging and faster onboarding of new developers
  docker-compose.yaml
Due: none

refactor(authorization-client): Migrate from poetry to uv
  .pre-commit-config.yaml
  authorization-client/poetry.lock
  authorization-client/pyproject.toml
  authorization-client/uv.lock
Due: none

fix(authorization-api): Move cryptography from dev dependencies to prod dependencies
  authorization-api/pyproject.toml
  uv.lock
Due: none

ci(test): Testrunner container image to run the unittests in CI
  .gitlab-ci/gitlab-ci.yml
  docker-compose.yaml
  docker/testrunner/Dockerfile
Due: none

chore(pre-commit): Migrate pre-commit hooks after poetry -> uv migration
  .pre-commit-config.yaml
Due: none

ci: Run the unittests in CI using uv and the new testrunner container. Publish the authorization-client pip package using uv
  .gitlab-ci/gitlab-ci.yml
Due: none

fix(management-api): Fix the Dockerfile after the poetry -> uv migration
  dev-compose.yaml
  management-api/Dockerfile
Due: none

fix(deps): Update Python dependencies
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  guardian-lib/poetry.lock
  guardian-lib/pyproject.toml
  management-api/poetry.lock
  management-api/pyproject.toml
Due: build_guardian_lib, publish_guardian-lib

fix(deps): Pin dependencies
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  authorization-client/poetry.lock
  authorization-client/pyproject.toml
  guardian-lib/poetry.lock
  guardian-lib/pyproject.toml
  management-api/poetry.lock
  management-api/pyproject.toml
Due: build_guardian_lib, publish_guardian-lib

ci(test): Allign the test coverage configuration with the main branch
  .gitlab-ci/gitlab-ci.yml
  authorization-api/.coveragerc
  authorization-api/pyproject.toml
  guardian-lib/.coveragerc
  management-api/.coveragerc
  pyproject.toml
Due: build_guardian_lib, publish_guardian-lib

wip: pipeline shenanigans
  .gitlab-ci/gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

fixup! wip: pipeline shenanigans
  .gitlab-ci/gitlab-ci.yml
Due: none

fix(pre-commit): Put the pytest hooks into the manual stage because they take some time
  .pre-commit-config.yaml
  README.md
Due: none

chore(pre-commit): Temporarily disable the opa hooks in CI
  .gitlab-ci/gitlab-ci.yml
Due: none

fix(management-api): Fix the opa subprocess command so it can run in a distroless container image
  management-api/guardian_management_api/adapters/bundle_server.py
  management-api/tests/adapters/test_bundle_server.py
Due: none

docs(generated): LLM-generated hackathon docs
  docs/simplify/README.md
  docs/simplify/current-state.md
  docs/simplify/measurements.md
Due: docs-create-production-merge-request

refactor(guardian-server): Migrate the Guardian Server container image to a distroless base image
  docker/guardian-server/Dockerfile
Due: none

refactor: Remove the separate OPA container image and use the opa binary from the management-api image instead
  dev-compose.yaml
  docker/guardian-server/Dockerfile
Due: none

docs(generated): Uptahe measurements with authorization-api container consolidation
  docs/simplify/measurements.md
Due: docs-create-production-merge-request

refactor(authorization-api): Remove the separate authorization-api container and consolidate the python code into the guardian-server container image
  authorization-api/Dockerfile
  dev-compose.yaml
  docker/guardian-server/Dockerfile
Due: none

fixup! refactor: Remove the separate OPA container image and use the opa binary from the management-api image instead
  opa/Dockerfile
Due: none
