Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_management, coverage_management, test_authz, coverage_authz, test_guardian_lib, coverage_guardian_lib, test_port_loader, coverage_port_loader, build_port_loader, build_guardian_lib, build_docker_image_opa, build_docker_image_management_ui, build_docker_image_authz, build_docker_image_management, publish_port_loader, publish_guardian-lib, authz_app_to_test_appcenter, management_app_to_test_appcenter, management_ui_app_to_test_appcenter

test_management:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd management-api
  - pip install poetry=="$POETRY_VERSION"
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_management:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd management-api
  - pip install poetry=="$POETRY_VERSION"
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=guardian_management_api .
  ...

test_authz:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd authorization-api
  - pip install poetry=="$POETRY_VERSION"
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_authz:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd authorization-api
  - pip install poetry=="$POETRY_VERSION"
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=guardian_authorization_api .
  ...

test_guardian_lib:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_guardian_lib:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=guardian_lib .
  - coverage report --fail-under="$GUARDIAN_LIB_COVERAGE_LIMIT"

test_port_loader:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry=="$POETRY_VERSION"
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_port_loader:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry=="$POETRY_VERSION"
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=port_loader .
  - coverage report --fail-under="$PORT_LOADER_COVERAGE_LIMIT"

build_port_loader:
  stage: build_python
  needs:
  - test_port_loader
  - coverage_port_loader
  artifacts:
    paths:
    - port-loader/dist/
    expire_in: 1 week
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry=="$POETRY_VERSION"
  ...

build_guardian_lib:
  stage: build_python
  needs:
  - test_guardian_lib
  - coverage_guardian_lib
  artifacts:
    paths:
    - guardian-lib/dist/
    expire_in: 1 week
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  ...

Issue #134: change skipif for mark e2e_udm
  .gitlab-ci.yml
  management-api/tests/routes/test_app.py
  management-api/tests/routes/test_capability.py
  management-api/tests/routes/test_condition.py
  management-api/tests/routes/test_context.py
  management-api/tests/routes/test_namespace.py
  management-api/tests/routes/test_permission.py
  management-api/tests/routes/test_role.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#197: bump version to 1.1.0 for development
  appcenter-authz/ini
  appcenter-management-ui/ini
  appcenter-management/ini
Due: authz_app_to_test_appcenter, management_app_to_test_appcenter, management_ui_app_to_test_appcenter

Issue #134: Do not skip udm integration tests
  .env.example
  authorization-api/tests/adapters/test_persistence.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #134: don't copy test bundle in the set_up_tests.sh script
  ucs-test-guardian/debian/changelog
  ucs-test-guardian/guardian_scripts/set_up_tests.sh
Due: none

Issue #134: add leeway to JWT validation
  guardian-lib/guardian_lib/adapters/authentication.py
Due: test_guardian_lib, coverage_guardian_lib, build_guardian_lib, publish_guardian-lib

Issue #134: bump guardian-lib to 1.5.0
  guardian-lib/pyproject.toml
Due: test_guardian_lib, coverage_guardian_lib, build_guardian_lib, publish_guardian-lib

Issue #134: setup authorization tests and cleanup later
  ucs-test-guardian/99_guardian/10_in_container_authorization
  ucs-test-guardian/debian/changelog
Due: none

Issue #134: don't skip integration test of the authz adapter
  management-api/tests/adapters/test_authz.py
Due: test_management, coverage_management, build_docker_image_management

Issue #134: register pytest mark e2e_udm
  management-api/pyproject.toml
Due: test_management, coverage_management, build_docker_image_management

Issue #134: update guardian-lib to 1.5.0
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  management-api/poetry.lock
  management-api/pyproject.toml
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

univention/components/authorization-engine/guardian#201: Fix wrong resource type for get_role
  management-api/guardian_management_api/business_logic.py
  management-api/tests/routes/test_role.py
Due: test_management, coverage_management, build_docker_image_management

Issue #134: fix setup script path
  ucs-test-guardian/99_guardian/10_in_container_authorization
  ucs-test-guardian/99_guardian/10_in_container_management
  ucs-test-guardian/debian/changelog
Due: none

Issue #134: UDM env for testing
  authorization-api/tests/conftest.py
Due: test_authz, coverage_authz, build_docker_image_authz

fix(authorization-api): use global poetry version arg on multistage image
  authorization-api/Dockerfile
Due: test_authz, coverage_authz, build_docker_image_authz

feat(authorization): add helm chart for authorization-api and opa
  helm/guardian-authorization/.helmignore
  helm/guardian-authorization/Chart.lock
  helm/guardian-authorization/Chart.yaml
  helm/guardian-authorization/README.md
  helm/guardian-authorization/README.md.gotmpl
  helm/guardian-authorization/charts/common-0.2.0.tgz
  helm/guardian-authorization/linter_values.yaml
  helm/guardian-authorization/templates/NOTES.txt
  helm/guardian-authorization/templates/configmap.yaml
  helm/guardian-authorization/templates/statefulset.yaml
  helm/guardian-authorization/values.yaml
Due: none

feat(management): add helm chart for management-api and ui
  helm/guardian-management/.helmignore
  helm/guardian-management/Chart.lock
  helm/guardian-management/Chart.yaml
  helm/guardian-management/README.md
  helm/guardian-management/README.md.gotmpl
  helm/guardian-management/charts/common-0.2.0.tgz
  helm/guardian-management/linter_values.yaml
  helm/guardian-management/templates/NOTES.txt
  helm/guardian-management/templates/configmap.yaml
  helm/guardian-management/templates/secret.yaml
  helm/guardian-management/templates/statefulset.yaml
  helm/guardian-management/values.yaml
Due: none

feat(ci): add helm chart packaging and publishing
  .gitlab-ci.yml
Due: none

Issue #134: Fix test bundle setup
  ucs-test-guardian/99_guardian/10_in_container_authorization
Due: none

Issue #134: Update changelog
  ucs-test-guardian/debian/changelog
Due: none

ci: upload coverage report to gitlab to make it visible in the MR UI
  .gitlab-ci.yml
Due: none

ci: add rules overrides to enable pipeline debugging
  .gitlab-ci.yml
Due: none

ci: simplify ci using inheritance
  .gitlab-ci.yml
Due: none

ci: package helm charts
  .gitlab-ci.yml
Due: none

fix(pre-commit): exclude helm directory because .md files below it are auto-generated
  .pre-commit-config.yaml
  helm/guardian-management/Chart.yaml
  helm/guardian-management/values.yaml
Due: none

drop-me: force-build docker images
  .gitlab-ci.yml
Due: none

chore(opa): move opa into docker directory
  docker/guardian-opa/Dockerfile
  docker/guardian-opa/README.md
  docker/guardian-opa/opa_config.yaml
  docker/guardian-opa/s6-rc.d/opa/finish
  docker/guardian-opa/s6-rc.d/opa/run
  docker/guardian-opa/s6-rc.d/opa/type
  docker/guardian-opa/s6-rc.d/user/contents.d/opa
Due: none

ci: try to add matrix builds from common-ci
  .gitlab-ci.yml
Due: none

ci: cleanup after directory restructuring
  .gitlab-ci.yml
Due: none

ci: a little speed up
  .gitlab-ci.yml
Due: none

ci: wip experiments
  .gitlab-ci.yml
Due: none

drop-me: disable management ui docker build
  .gitlab-ci.yml
Due: none

drop-me: speed up debugging
  .gitlab-ci.yml
Due: none

ci: cleanup and tests
  .gitlab-ci.yml
Due: none

Path conditions:
  test_management: any of: management-api/**/*
  coverage_management: any of: management-api/**/*
  test_authz: any of: authorization-api/**/*
  coverage_authz: any of: authorization-api/**/*
  test_guardian_lib: any of: guardian-lib/**/*
  coverage_guardian_lib: any of: guardian-lib/**/*
  test_port_loader: any of: port-loader/**/*
  coverage_port_loader: any of: port-loader/**/*
  build_port_loader: any of: port-loader/**/*
  build_guardian_lib: any of: guardian-lib/**/*
  build_docker_image_opa: any of: opa/**/*
  build_docker_image_management_ui: any of: management-ui/**/*
  build_docker_image_authz: any of: authorization-api/**/*
  build_docker_image_management: any of: management-api/**/*
  publish_port_loader: (not (any of: port-loader/**/*)) and (any of: port-loader/**/*)
  publish_guardian-lib: any of: guardian-lib/**/*
  authz_app_to_test_appcenter: any of: appcenter-authz/**/*
  management_app_to_test_appcenter: any of: appcenter-management/**/*
  management_ui_app_to_test_appcenter: any of: appcenter-management-ui/**/*
