Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_guardian_lib, publish_guardian-lib, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Path conditions:
  build_guardian_lib: any of: guardian-lib/**/*
  publish_guardian-lib: any of: guardian-lib/**/*
  ucs_test_deb_lint: any of: ucs-test-guardian/**/*
  ucs_test_deb_build_git: any of: ucs-test-guardian/**/*
  ucs_test_deb_repo_import: any of: ucs-test-guardian/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-guardian/debian/changelog
  docs-linkcheck: any of: docs/guardian-manual/**/*
  docs-spelling: any of: docs/guardian-manual/**/*
  docs-html: any of: docs/guardian-manual/**/*
  docs-pdf: any of: docs/guardian-manual/**/*
  docs-warnings: any of: docs/guardian-manual/**/*
  docs-merge-to-one-artifact: any of: docs/guardian-manual/**/*
  docs-create-production-merge-request: any of: docs/**/*

expose port 5173
  Vagrantfile
  management-ui/package.json
Due: none

last changes
  README.md
  docs/developer-reference/adapters.rst
  docs/developer-reference/conf.py
  docs/developer-reference/contents.rst
  docs/developer-reference/how-tos.rst
  docs/developer-reference/index.rst
  docs/developer-reference/setup.rst
Due: docs-create-production-merge-request

developer-reference: Create initial developer reference
  .gitignore
  .gitlab-ci.yml
  README.md
  Vagrantfile
  docs/developer-reference/Makefile
  docs/developer-reference/_static/univention_logo.pdf
  docs/developer-reference/adapters.rst
  docs/developer-reference/conf.py
  docs/developer-reference/contents.rst
  docs/developer-reference/how-tos.rst
  docs/developer-reference/index.rst
  docs/developer-reference/make.bat
  docs/developer-reference/releases.rst
  docs/developer-reference/setup.rst
  docs/developer-reference/spelling_wordlist
  docs/developer-reference/tests.rst
  management-ui/package.json
Due: docs-create-production-merge-request

Issue #205: management-ui version bump and changelogs 2.0.0
  appcenter-management-ui/README_UPDATE_EN
  docs/guardian-manual/changelogs.rst
  management-ui/package.json
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #205: authorization-api changelogs 2.0.0
  appcenter-authz/README_UPDATE_EN
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #205: guardian-manual changelogs and version bump 2.0
  .gitlab-ci.yml
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #205: management-api changelogs 2.0.0
  appcenter-management/README_UPDATE_EN
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #205: bump versions to 2.0.1
  appcenter-authz/ini
  appcenter-management-ui/ini
  appcenter-management/ini
  authorization-api/pyproject.toml
  management-api/pyproject.toml
  management-ui/package.json
Due: none

developer-reference: Add additional steps for releases
  docs/developer-reference/releases.rst
Due: docs-create-production-merge-request

feat(helm): compatibility updates for new release
  helm/guardian-authorization-api/README.md
  helm/guardian-authorization-api/templates/configmap.yaml
  helm/guardian-authorization-api/templates/secret.yaml
  helm/guardian-authorization-api/templates/statefulset.yaml
  helm/guardian-authorization-api/values.yaml
  helm/guardian-management-api/README.md
  helm/guardian-management-api/templates/configmap.yaml
  helm/guardian-management-api/templates/statefulset.yaml
  helm/guardian-management-api/values.yaml
  helm/guardian-management-ui/README.md
  helm/guardian-management-ui/values.yaml
  helm/open-policy-agent/README.md
  helm/open-policy-agent/values.yaml
Due: none

univention/components/authorization-engine/guardian-summit-demo#1: Fix missing context in model transformation
  appcenter-authz/README_UPDATE_EN
  authorization-api/guardian_authorization_api/adapters/api.py
  authorization-api/tests/adapters/test_api.py
  docs/guardian-manual/changelogs.rst
  docs/guardian-manual/index.rst
  docs/guardian-manual/troubleshooting.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

univention/components/authorization-engine/guardian-summit-demo#1: Update manual changelog
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

univention/components/authorization-engine/guardian-summit-demo#1: Bump version of authorization-api
  appcenter-authz/ini
  authorization-api/pyproject.toml
Due: none

feat(ini): Enable app installation reporting
  appcenter-authz/ini
  appcenter-management-ui/ini
  appcenter-management/ini
Due: none

docs(guardian-manual): Review section structure
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Standardize environment variables for Vagrant configuration
  Vagrantfile
  docs/developer-reference/setup.rst
Due: docs-create-production-merge-request

fix(gitlab-ci): Fix broken pipeline
  .gitlab-ci.yml
Due: none

fix(ci): package ums dependencies only with changes
  .gitlab-ci.yml
Due: none

f basic header
  management-ui/src/assets/style.styl
  management-ui/src/main.ts
Due: none

feat(dev): Remove vagrant files
  .gitignore
  Vagrantfile
Due: none

feat(dev): Add docker dev setup
  .gitignore
  README.md
  dev/.env.example
  dev/Dockerfile
  dev/dev_run.sh
  dev/docker-compose-postgres.yaml
  dev/docker-compose.yaml
  dev/keycloak/Dockerfile
  dev/keycloak/provisioning/Dockerfile
  dev/keycloak/provisioning/configure.py
  dev/keycloak/provisioning/guardian_client_management_api_config.json
  dev/keycloak/provisioning/guardian_client_ui_config.json
  dev/scripts/install_deps.sh
Due: none

fix(ini): Set Univention to be the apps vendor, not maintainer
  appcenter-authz/ini
  appcenter-management-ui/ini
  appcenter-management/ini
Due: none

Issue user-management#22: unify prettierrc between projects
  management-ui/.prettierrc.json
  management-ui/src/App.vue
  management-ui/src/tests/components/SettingsConfig.vue
  management-ui/src/tests/views/AuthenticationAdapter.vue
  management-ui/src/tests/views/DataAdapter.vue
  management-ui/src/tests/views/LanguageSelector.vue
  management-ui/src/tests/views/SettingsAdapter.vue
  management-ui/src/tests/views/TestView.vue
  management-ui/src/views/EditView.vue
  management-ui/src/views/ListView.vue
  management-ui/src/views/PageNotFound.vue
Due: none

univention/components/authorization-engine/guardian#220: Fix target id calculation for empty old_target
  appcenter-management/README_UPDATE_EN
  management-api/rego_policy_bundle_template/univention/base.rego
  management-api/rego_policy_bundle_template/univention/base_test.rego
Due: none

univention/components/authorization-engine/guardian#220: Add changelog entry
  docs/guardian-manual/changelogs.rst
  docs/guardian-manual/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

univention/univention-veb#40: Upgrade univention-veb version to fix icons
  management-ui/package.json
  management-ui/yarn.lock
Due: none

univention/ucsschool-components/user-management#44: Add service entries to api apps
  appcenter-authz/README_UPDATE_EN
  appcenter-authz/inst
  appcenter-authz/uinst
  appcenter-management/README_UPDATE_EN
  appcenter-management/inst
  appcenter-management/uinst
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

docs: Update changelog
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

chore: increase versions
  appcenter-authz/ini
  appcenter-management-ui/ini
  appcenter-management/ini
  management-api/pyproject.toml
Due: none

docs: Update changelog
  appcenter-authz/README_UPDATE_EN
  appcenter-management-ui/README_UPDATE_EN
  appcenter-management/README_UPDATE_EN
Due: none

docs: Update manual
  docs/guardian-manual/installation.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

ci: Use value in rules for trigger job instead of variable
  .gitlab-ci.yml
Due: none

docs: Update developer release guide
  docs/developer-reference/releases.rst
Due: docs-create-production-merge-request

Apply 1 suggestion(s) to 1 file(s)
  management-ui/src/i18n/locales/en.json
Due: none

Adjust label + add description for relation field
  management-ui/src/helpers/configs/addCapabilityViewConfig.ts
  management-ui/src/helpers/configs/capabilityDetailResponseModel.ts
  management-ui/src/i18n/locales/de.json
  management-ui/src/i18n/locales/en.json
Due: none

Show 'documentation' field of conditions
  management-ui/src/helpers/dataAccess.ts
  management-ui/src/helpers/models/interface.ts
Due: none

Simplify app installtion
  .gitlab-ci.yml
  appcenter-authz/README_UPDATE_EN
  appcenter-authz/inst
  appcenter-management/README_UPDATE_EN
  appcenter-management/configure
  appcenter-management/configure_host
  appcenter-management/inst
  docs/guardian-manual/installation.rst
  management-api/update_client_secret.sh
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request
