Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_guardian_lib, publish_guardian-lib, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

build_guardian_lib:
  stage: build
  needs:
  - test_guardian_lib
  - coverage_guardian_lib
  artifacts:
    paths:
    - guardian-lib/dist/
    expire_in: 1 week
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  ...

publish_guardian-lib:
  stage: publish
  when: manual
  dependencies:
  - build_guardian_lib
  needs:
  - build_guardian_lib
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  ...

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd $UCS_TEST_PACKAGE && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: $UCS_TEST_PACKAGE/ucslint.xml

ucs_test_deb_build_git:
  stage: build_debian
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd $UCS_TEST_PACKAGE
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
    - $UCS_TEST_PACKAGE/build/

ucs_test_deb_repo_import:
  stage: build_debian
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P $UCS_TEST_PACKAGE -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $UCS_TEST_PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build_debian
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $UCS_TEST_PACKAGE
  
    '

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

feat: update ucs-base to flex 5.2.2
  authorization-api/Dockerfile
  management-api/Dockerfile
  opa/Dockerfile
Due: none

fix(deps): update minor & patch level from npm
  management-ui/package.json
  management-ui/yarn.lock
Due: none

fix(deps): update dependency uuid to v11
  management-ui/package.json
  management-ui/yarn.lock
Due: none

ci: Generate JS SBOM
  .gitlab-ci/gitlab-ci.yml
Due: none

fix(deps): Update Minor & Patch level from docker
  .gitlab-ci/gitlab-ci.yml
  authorization-api/Dockerfile
  keycloak/provisioning/Dockerfile
  management-api/Dockerfile
  management-ui/docker/Dockerfile
  opa/Dockerfile
Due: none

ci: Generate frontend image SBOM and merge with filesystem SBOM
  .gitlab-ci/gitlab-ci.yml
Due: none

docs(guardian-manual/conf): Define announcement banner about Nubus for Kubernetes
  docs/guardian-manual/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

docs(guardian-manual/conf): Change link color in announcement banner about Nubus for Kubernetes
  docs/guardian-manual/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

feat(ci): add fs sbom as file in container
  .gitlab-ci/gitlab-ci.yml
  management-ui/docker/Dockerfile
Due: none

fix(guardian-management-api): Added timeouts for HTTP requests.
  management-api/guardian_management_api/adapters/authz.py
Due: none

fixup! fix(guardian-management-api): Added timeouts for HTTP requests.
  management-api/guardian_management_api/adapters/authz.py
Due: none

chore(management-api): fix alembic pre-commit
  management-api/alembic/versions/1.0.0_initial_schema.py
Due: none

fix(guardian-lib): Bump dependencies
  guardian-lib/poetry.lock
  guardian-lib/pyproject.toml
Due: build_guardian_lib, publish_guardian-lib

fixup! fixup! fix(guardian-management-api): Added timeouts for HTTP requests.
  guardian-lib/guardian_lib/adapters/authentication.py
  management-api/guardian_management_api/adapters/authz.py
  management-api/tests/adapters/test_authz.py
Due: build_guardian_lib, publish_guardian-lib

fixup! fixup! fixup! fix(guardian-management-api): Added timeouts for HTTP requests.
  guardian-lib/guardian_lib/adapters/authentication.py
  management-api/guardian_management_api/adapters/fastapi_utils.py
  management-api/tests/adapters/test_authz.py
Due: build_guardian_lib, publish_guardian-lib

fixup! fixup! fixup! fixup! fix(guardian-management-api): Added timeouts for HTTP requests.
  guardian-lib/guardian_lib/adapters/authentication.py
  management-api/guardian_management_api/adapters/authz.py
  management-api/guardian_management_api/adapters/fastapi_utils.py
  management-api/tests/adapters/test_authz.py
Due: build_guardian_lib, publish_guardian-lib

fix(opa): Bump to last release with checksum
  opa/Dockerfile
Due: none

fix(management-ui): Bump dependencies
  .gitlab-ci/gitlab-ci.yml
  management-ui/docker/Dockerfile
  management-ui/package.json
  management-ui/src/tests/views/DataAdapter.vue
  management-ui/src/views/EditView.vue
  management-ui/yarn.lock
Due: none

fix(authorization-api): Bump dependencies
  .gitlab-ci/gitlab-ci.yml
  authorization-api/Dockerfile
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
Due: none

fix(management-api): Bump dependencies
  management-api/Dockerfile
  management-api/poetry.lock
  management-api/pyproject.toml
Due: none

fix(management-ui): pre-commit TypeScript types and linters
  management-ui/.eslintrc.cjs
  management-ui/eslint.config.js
  management-ui/package.json
  management-ui/src/adapters/data.ts
  management-ui/src/adapters/settings.ts
  management-ui/src/helpers/dataAccess.ts
  management-ui/src/helpers/mocks/api/capabilities.ts
  management-ui/src/main.ts
  management-ui/src/tests/views/AuthenticationAdapter.vue
  management-ui/src/tests/views/DataAdapter.vue
  management-ui/src/views/EditView.vue
  management-ui/src/views/ListView.vue
Due: none

fix(authorization-api): pydantic v2 migration
  .pre-commit-config.yaml
  authorization-api/guardian_authorization_api/adapter_registry.py
  authorization-api/guardian_authorization_api/models/routes.py
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  authorization-api/tests/adapters/test_api.py
  authorization-api/tests/conftest.py
  authorization-api/tests/routes/test_get_permissions.py
  authorization-api/tests/routes/test_permissions_check.py
  authorization-api/tests/test_main.py
Due: none

test(management-api): Improve test coverage
  management-api/tests/test_business_logic.py
Due: none

fix(management-api): Update rego rules to new syntax
  .regal/config.yaml
  management-api/alembic/1.0.0_builtin_conditions/actor_does_not_have_role.rego
  management-api/alembic/1.0.0_builtin_conditions/no_targets.rego
  management-api/alembic/1.0.0_builtin_conditions/only_if_param_result_true.rego
  management-api/alembic/1.0.0_builtin_conditions/target_does_not_have_role.rego
  management-api/alembic/1.0.0_builtin_conditions/target_does_not_have_role_in_same_context.rego
  management-api/alembic/1.0.0_builtin_conditions/target_field_equals_actor_field.rego
  management-api/alembic/1.0.0_builtin_conditions/target_field_equals_value.rego
  management-api/alembic/1.0.0_builtin_conditions/target_field_not_equals_value.rego
  management-api/alembic/1.0.0_builtin_conditions/target_has_role.rego
  management-api/alembic/1.0.0_builtin_conditions/target_has_role_in_same_context.rego
  management-api/alembic/1.0.0_builtin_conditions/target_has_same_context.rego
  management-api/alembic/1.0.0_builtin_conditions/target_is_self.rego
  management-api/rego_policy_bundle_template/guardian/conditions/stock.rego
  management-api/rego_policy_bundle_template/univention/base.rego
  management-api/rego_policy_bundle_template/univention/utils_test.rego
Due: none

fix(management-api): pydantic v2 migration
  management-api/guardian_management_api/adapter_registry.py
  management-api/guardian_management_api/adapters/app.py
  management-api/guardian_management_api/adapters/condition.py
  management-api/guardian_management_api/adapters/context.py
  management-api/guardian_management_api/adapters/permission.py
  management-api/guardian_management_api/models/routers/base.py
  management-api/guardian_management_api/models/routers/capability.py
  management-api/guardian_management_api/models/routers/condition.py
  management-api/guardian_management_api/routers/app.py
  management-api/guardian_management_api/routers/context.py
  management-api/guardian_management_api/routers/custom_endpoint.py
  management-api/guardian_management_api/routers/namespace.py
  management-api/guardian_management_api/routers/permission.py
  management-api/guardian_management_api/routers/role.py
  management-api/poetry.lock
  management-api/pyproject.toml
  management-api/tests/adapters/test_adapters_app.py
  management-api/tests/adapters/test_adapters_role.py
  management-api/tests/adapters/test_authz.py
  management-api/tests/adapters/test_bundle_server.py
  management-api/tests/adapters/test_condition.py
  management-api/tests/adapters/test_context.py
  management-api/tests/adapters/test_namespace.py
  management-api/tests/adapters/test_permission.py
  management-api/tests/conftest.py
  management-api/tests/models/routers/test_base.py
  management-api/tests/routes/test_app.py
  management-api/tests/routes/test_capability.py
  management-api/tests/routes/test_condition.py
  management-api/tests/routes/test_permission.py
  management-api/tests/routes/test_role.py
  management-api/tests/test_authentication.py
  management-api/tests/test_main.py
Due: none

test: we now enforce AppName to be longer than 3 lowercase characters
  authorization-api/tests/routes/test_get_permissions.py
  authorization-api/tests/routes/test_permissions_check.py
  management-api/guardian_management_api/adapters/bundle_server.py
  management-api/rego_policy_bundle_template/univention/base_test.rego
  management-api/rego_policy_bundle_template/univention/test_mapping/data.json
Due: none

fix(opa): Make compatible with v0
  appcenter-authz/test
  management-api/guardian_management_api/adapters/bundle_server.py
  management-api/tests/adapters/test_bundle_server.py
  opa/Dockerfile
Due: none

test: fix usage of fixture await with pytest-asyncio
  management-api/tests/test_authentication.py
Due: none

Path conditions:
  build_guardian_lib: any of: guardian-lib/**/*
  publish_guardian-lib: any of: guardian-lib/**/*
  ucs_test_deb_lint: any of: ucs-test-guardian/**/*
  ucs_test_deb_build_git: any of: ucs-test-guardian/**/*
  ucs_test_deb_repo_import: any of: ucs-test-guardian/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-guardian/debian/changelog
  docs-linkcheck: any of: docs/guardian-manual/**/*
  docs-spelling: any of: docs/guardian-manual/**/*
  docs-html: any of: docs/guardian-manual/**/*
  docs-pdf: any of: docs/guardian-manual/**/*
  docs-warnings: any of: docs/guardian-manual/**/*
  docs-merge-to-one-artifact: any of: docs/guardian-manual/**/*
  docs-create-production-merge-request: any of: docs/**/*
