Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_management, coverage_management, test_authz, coverage_authz, test_port_loader, coverage_port_loader, build_port_loader, build_docker_image_opa, build_docker_image_authz, build_docker_image_management, publish_port_loader, authz_app_to_test_appcenter, management_app_to_test_appcenter

Path conditions:
  test_management: any of: management-api/**/*
  coverage_management: any of: management-api/**/*
  test_authz: any of: authorization-api/**/*
  coverage_authz: any of: authorization-api/**/*
  test_port_loader: any of: port-loader/**/*
  coverage_port_loader: any of: port-loader/**/*
  build_port_loader: any of: port-loader/**/*
  build_docker_image_opa: any of: opa/**/*
  build_docker_image_authz: any of: authorization-api/**/*
  build_docker_image_management: any of: management-api/**/*
  publish_port_loader: any of: port-loader/**/*
  authz_app_to_test_appcenter: any of: appcenter-authz/**/*
  management_app_to_test_appcenter: any of: appcenter-management/**/*

Issue #149: partial lookup for authz routes
  authorization-api/guardian_authorization_api/adapters/api.py
  authorization-api/guardian_authorization_api/business_logic.py
  authorization-api/guardian_authorization_api/models/routes.py
  authorization-api/guardian_authorization_api/ports.py
  authorization-api/tests/routes/test_get_permissions.py
  authorization-api/tests/routes/test_permissions_check.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #149: correct .env.example
  .env.example
Due: none

univention/components/authorization-engine/guardian#138: Remove client_id claim from required claims list
  guardian-lib/CHANGELOG.md
  guardian-lib/guardian_lib/adapters/authentication.py
Due: none

univention/components/authorization-engine/guardian#138: Merge guardian-pytest into guardian-lib
  .gitlab-ci.yml
  guardian-lib/CHANGELOG.md
  guardian-lib/guardian_pytest/__init__.py
  guardian-lib/guardian_pytest/authentication.py
  guardian-lib/pyproject.toml
  guardian-pytest/README.md
  guardian-pytest/poetry.lock
  guardian-pytest/pyproject.toml
Due: none

univention/components/authorization-engine/guardian#138: Fix appcenter configurations for authorization-api
  .gitignore
  .gitlab-ci.yml
  README.md
  appcenter-authz/compose
  appcenter-authz/ini
  appcenter-authz/settings
  appcenter-management/uinst
Due: authz_app_to_test_appcenter, management_app_to_test_appcenter

univention/components/authorization-engine/guardian#138: Fix appcenter configurations for management-api
  .gitlab-ci.yml
  appcenter-management/compose
  appcenter-management/configure
  appcenter-management/ini
  appcenter-management/inst
  appcenter-management/settings
Due: management_app_to_test_appcenter

univention/components/authorization-engine/guardian#138: Pin new guardian-lib version
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  management-api/poetry.lock
  management-api/pyproject.toml
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

Issue #147: fix regex to disallow unintended names
  management-api/guardian_management_api/adapters/fastapi_utils.py
  management-api/guardian_management_api/models/routers/base.py
  management-api/guardian_management_api/models/routers/condition.py
  management-api/tests/models/routers/test_base.py
  management-api/tests/routes/test_app.py
Due: test_management, coverage_management, build_docker_image_management

Issue #157: remove mariadb support
  dev-compose-mariadb.yaml
  dev-run
  management-api/guardian_management_api/adapters/sql_persistence.py
  management-api/pyproject.toml
  management-api/tests/adapters/test_sql_persistence.py
  management-api/tests/conftest.py
Due: test_management, coverage_management, build_docker_image_management

Issue #157: poetry update
  management-api/poetry.lock
Due: test_management, coverage_management, build_docker_image_management

Issue #28: Added UMC translation and poetry update.
  .gitlab-ci.yml
  appcenter-management/files/guardian_syntax.py
  appcenter-management/inst
  appcenter-management/locale/DE/LC_MESSAGES/de.mo
  appcenter-management/locale/DE/LC_MESSAGES/de.po
  appcenter-management/preinst.tmpl
  management-api/poetry.lock
Due: test_management, coverage_management, build_docker_image_management, management_app_to_test_appcenter

Issue #28: Replacing .mo with .po fail to fix pipeline.
  .gitlab-ci.yml
  appcenter-management/preinst.tmpl
Due: management_app_to_test_appcenter

Issue #28: Adjusting joinscipts.
  appcenter-management/inst
  appcenter-management/preinst.tmpl
Due: management_app_to_test_appcenter

Issue #28: Replaced misspelled option for registering LDAPExtension.
  appcenter-management/inst
Due: management_app_to_test_appcenter

Issue #46: add ADR for frontend testing
  0002-testing-frontend.md
  management-ui/e2e/tests.md
Due: none

Issue #28: Cleanup comments
  appcenter-management/files/guardian_syntax.py
Due: management_app_to_test_appcenter

Issue port-loader#1: don't log credentials
  guardian-lib/poetry.lock
  guardian-lib/pyproject.toml
Due: none

update poetry
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  management-api/poetry.lock
  management-api/pyproject.toml
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

univention/components/authorization-engine/guardian#153: Remove port-loader code from repository
  .gitlab-ci.yml
  .pre-commit-config.yaml
  port-loader/.coveragerc
  port-loader/CHANGELOG.md
  port-loader/README.md
  port-loader/poetry.lock
  port-loader/port_loader/__init__.py
  port-loader/port_loader/adapters.py
  port-loader/port_loader/errors.py
  port-loader/port_loader/injection.py
  port-loader/port_loader/models.py
  port-loader/port_loader/registries.py
  port-loader/port_loader/utils.py
  port-loader/pyproject.toml
  port-loader/tests/conftest.py
  port-loader/tests/test_injection.py
  port-loader/tests/test_registries.py
  port-loader/tests/test_utils.py
Due: test_port_loader, coverage_port_loader, build_port_loader, publish_port_loader

univention/components/authorization-engine/guardian#153: Add new port-loader
  guardian-lib/CHANGELOG.md
Due: none

Issue #160: Use port-loader 1.1.0
  guardian-lib/poetry.lock
  guardian-lib/pyproject.toml
Due: none

Issue #160: Update dependencies for management-api and authorization-api
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  management-api/poetry.lock
  management-api/pyproject.toml
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

Issue #160: Migrate guardian library
  guardian-lib/guardian_lib/adapters/authentication.py
  guardian-lib/guardian_lib/adapters/settings.py
  guardian-lib/guardian_lib/logging.py
  guardian-lib/guardian_lib/models/authentication.py
  guardian-lib/guardian_lib/ports.py
  guardian-lib/guardian_pytest/authentication.py
  guardian-lib/tests/adapters/test_settings.py
  guardian-lib/tests/conftest.py
  guardian-lib/tests/test_adapter_registry.py
Due: none

Issue #16: install portal icon for Management UI
  appcenter-authz/ini
  appcenter-management-ui/ini
  appcenter-management-ui/inst
  appcenter-management-ui/uinst
  appcenter-management/ini
Due: authz_app_to_test_appcenter, management_app_to_test_appcenter

Issue #163: create standardized AppCenter and Docker setup for Keycloak
  appcenter-authz/compose
  appcenter-authz/settings
  appcenter-management-ui/compose
  appcenter-management-ui/settings
  appcenter-management/compose
  appcenter-management/settings
Due: authz_app_to_test_appcenter, management_app_to_test_appcenter

Issue #55: Add E2E tests for roles management
  management-ui/e2e/roles.spec.ts
  management-ui/e2e/roles.spec.ts-snapshots/EditView-create-layout-chromium-linux.png
  management-ui/e2e/roles.spec.ts-snapshots/EditView-update-layout-chromium-linux.png
  management-ui/e2e/roles.spec.ts-snapshots/ListView-layout-chromium-linux.png
  management-ui/e2e/test.spec.ts
  management-ui/e2e/vue.spec.ts
  management-ui/src/adapters/data.ts
  management-ui/src/helpers/dataAccess.ts
  management-ui/src/stores/adapter.ts
Due: none

Issue #172: Add description and support info to all apps
  appcenter-authz/ini
  appcenter-management-ui/ini
  appcenter-management/ini
Due: authz_app_to_test_appcenter, management_app_to_test_appcenter

Issue #72: Add ResourceAuthorizationPort
  management-api/guardian_management_api/adapter_registry.py
  management-api/guardian_management_api/adapters/authz.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/errors.py
  management-api/guardian_management_api/models/authz.py
  management-api/guardian_management_api/ports/authz.py
  management-api/guardian_management_api/routers/app.py
  management-api/tests/adapters/test_adapters_app.py
  management-api/tests/adapters/test_authz.py
  management-api/tests/models/test_authz.py
  management-api/tests/test_adapter_registry.py
  management-api/tests/test_business_logic.py
Due: test_management, coverage_management, build_docker_image_management

Issue #72: authorization adapter
  management-api/guardian_management_api/adapters/authz.py
  management-api/guardian_management_api/adapters/fastapi_utils.py
  management-api/poetry.lock
  management-api/pyproject.toml
  management-api/tests/adapters/test_authz.py
Due: test_management, coverage_management, build_docker_image_management

Issue #72: add integration tests
  management-api/guardian_management_api/adapters/authz.py
  management-api/tests/adapters/test_authz.py
  management-api/tests/conftest.py
  management-api/tests/test_business_logic.py
Due: test_management, coverage_management, build_docker_image_management

Issue #72: adapt authentication adapter to retrieve user DN
  guardian-lib/guardian_lib/adapters/authentication.py
  guardian-lib/guardian_pytest/authentication.py
  guardian-lib/tests/adapters/test_authentication.py
Due: none

Issue #72: bump guardian-lib to 1.3.0
  guardian-lib/pyproject.toml
Due: none

Issue #72: make Authorization API URL configurable
  .env.example
  README.md
  appcenter-management/compose
  appcenter-management/settings
  dev-compose.yaml
  management-api/guardian_management_api/adapters/authz.py
  management-api/tests/adapters/test_authz.py
Due: test_management, coverage_management, build_docker_image_management, management_app_to_test_appcenter

Issue #72: add E2E tests
  management-api/tests/routes/test_app.py
Due: test_management, coverage_management, build_docker_image_management

Issue #72: source .env in dev-run
  dev-run
Due: none

Issue #72: authorization spike for app endpoints
  .env.example
  README.md
  dev-compose.yaml
  guardian-lib/guardian_lib/adapters/authentication.py
  guardian-lib/tests/adapters/test_authentication.py
  keycloak/provisioning/guardian_client_cli_config.json
  keycloak/provisioning/guardian_client_config.json
  management-api/guardian_management_api/adapter_registry.py
  management-api/guardian_management_api/adapters/app.py
  management-api/guardian_management_api/adapters/authz.py
  management-api/guardian_management_api/adapters/fastapi_utils.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/routers/app.py
  management-api/tests/adapters/test_authz.py
  management-api/tests/conftest.py
  management-api/tests/test_adapter_registry.py
  management-api/tests/test_business_logic.py
Due: test_management, coverage_management, build_docker_image_management

Issue #72: update guardian-lib to 1.3.0
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  management-api/poetry.lock
  management-api/pyproject.toml
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

Issue #72: add authz plugins to pyproject
  management-api/pyproject.toml
Due: test_management, coverage_management, build_docker_image_management

Issue #161: add icon files for the AppCenter
  appcenter-authz/ini
  appcenter-management/ini
Due: authz_app_to_test_appcenter, management_app_to_test_appcenter
