Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_guardian_lib, publish_guardian-lib, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Path conditions:
  build_guardian_lib: any of: guardian-lib/**/*
  publish_guardian-lib: any of: guardian-lib/**/*
  ucs_test_deb_lint: any of: ucs-test-guardian/**/*
  ucs_test_deb_build_git: any of: ucs-test-guardian/**/*
  ucs_test_deb_repo_import: any of: ucs-test-guardian/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-guardian/debian/changelog
  docs-linkcheck: any of: docs/guardian-manual/**/*
  docs-spelling: any of: docs/guardian-manual/**/*
  docs-html: any of: docs/guardian-manual/**/*
  docs-pdf: any of: docs/guardian-manual/**/*
  docs-warnings: any of: docs/guardian-manual/**/*
  docs-merge-to-one-artifact: any of: docs/guardian-manual/**/*
  docs-create-production-merge-request: any of: docs/**/*

Upload configure script to appcenter
  .gitlab-ci.yml
Due: none

Issue #225: changlog
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

fixup! Issue #225: changlog
  .gitlab-ci.yml
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

fixup! fixup! Issue #225: changlog
  .gitlab-ci.yml
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #225: changelog
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #224: increase versions
  appcenter-authz/README_UPDATE_EN
  appcenter-authz/ini
  appcenter-management/README_UPDATE_EN
  appcenter-management/ini
  authorization-api/pyproject.toml
  management-api/pyproject.toml
Due: none

Issue #224: update dev refecerence
  docs/developer-reference/releases.rst
Due: docs-create-production-merge-request

chore(.gitlab): add qa checklist
  .gitlab/issue_templates/default.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/issue_templates/default.md
Due: none

ci(docs): Remove deprecated warnings jobs
  .gitlab-ci.yml
Due: none

ci(docs): Add review job for built docs
  .gitlab-ci.yml
Due: none

docs(manual): Cleanup configuration
  docs/guardian-manual/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

feat!: Use UDM guardianRoles
  authorization-api/guardian_authorization_api/adapters/persistence.py
  authorization-api/guardian_authorization_api/udm_client.py
  authorization-api/tests/adapters/test_persistence.py
  authorization-api/tests/conftest.py
  authorization-api/tests/mock_classes.py
  authorization-api/tests/routes/test_get_permissions.py
  authorization-api/tests/routes/test_permissions_check.py
  ucs-test-guardian/guardian_scripts/set_up_tests.sh
Due: ucs_test_deb_lint, ucs_test_deb_build_git

tests: Include guardianInheritedRoles
  authorization-api/tests/adapters/test_persistence.py
  authorization-api/tests/conftest.py
Due: none

fix: Use traefik opa instance by default
  .env.example
Due: none

docs: Add chapter about role assignment
  docs/guardian-manual/assigning-roles.rst
  docs/guardian-manual/changelogs.rst
  docs/guardian-manual/contents.rst
  docs/guardian-manual/installation.rst
  docs/guardian-manual/what-is-the-guardian.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

feat!: Remove extended attribute setup
  .gitlab-ci.yml
  appcenter-management/files/guardian.schema
  appcenter-management/files/guardian_syntax.py
  appcenter-management/inst
  appcenter-management/locale/DE/LC_MESSAGES/de.mo
  appcenter-management/locale/DE/LC_MESSAGES/de.po
  appcenter-management/scripts/generate-preinst
  appcenter-management/templates/preinst.tmpl
  ums-dependencies/Dockerfile
  ums-dependencies/README.md
Due: none

fix: Send SIGINT to dummy-db
  dev-compose.yaml
Due: none

docs: Add comment about version synchronization
  docs/developer-reference/releases.rst
Due: docs-create-production-merge-request

chore: Update Versions and changelog
  appcenter-authz/README_UPDATE_EN
  appcenter-authz/ini
  appcenter-management-ui/README_UPDATE_EN
  appcenter-management-ui/ini
  appcenter-management/README_UPDATE_EN
  appcenter-management/ini
  authorization-api/pyproject.toml
  docs/guardian-manual/changelogs.rst
  management-api/pyproject.toml
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

chore!: Update UCS version requirements
  appcenter-authz/ini
Due: none

docs: Swap guardianRole with guardianRoles
  docs/developer-reference/tests.rst
  docs/guardian-manual/installation.rst
  docs/guardian-manual/what-is-the-guardian.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

fix: authz ini file was malformed
  appcenter-authz/ini
Due: none

fix: increase changelog entry for test package
  ucs-test-guardian/debian/changelog
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

fix: Remove schema registration from inst
  appcenter-management/inst
Due: none

fix: Remove breakpoint from test
  authorization-api/tests/adapters/test_persistence.py
Due: none

Issue #223: adapt tests to be executable in app tests
  .gitlab-ci.yml
  appcenter-authz/ini
  appcenter-authz/test
  appcenter-authz/test_preinstall
  appcenter-management/test
  appcenter-management/test_preinstall
  authorization-api/tests/adapters/test_persistence.py
  authorization-api/tests/conftest.py
  management-api/tests/adapters/test_authz.py
  management-api/tests/conftest.py
  ucs-test-guardian/99_guardian/10_in_container_management
  ucs-test-guardian/debian/changelog
  ucs-test-guardian/debian/changelog.license
  ucs-test-guardian/debian/control
  ucs-test-guardian/debian/control.license
  ucs-test-guardian/debian/copyright
  ucs-test-guardian/debian/copyright.license
  ucs-test-guardian/debian/rules
  ucs-test-guardian/debian/ucs-test-guardian.install
  ucs-test-guardian/debian/ucslint.overrides
  ucs-test-guardian/debian/ucslint.overrides.license
  ucs-test-guardian/guardian_scripts/set_up_tests.sh
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Issue #223: adapt tests to be executable in app tests
  .gitlab-ci.yml
  appcenter-authz/ini
  appcenter-authz/test
  appcenter-authz/test_preinstall
  appcenter-management/test
  authorization-api/tests/adapters/test_persistence.py
  authorization-api/tests/conftest.py
  management-api/tests/adapters/test_authz.py
  management-api/tests/conftest.py
  ucs-test-guardian/99_guardian/10_in_container_management
  ucs-test-guardian/debian/changelog
  ucs-test-guardian/debian/changelog.license
  ucs-test-guardian/debian/control
  ucs-test-guardian/debian/control.license
  ucs-test-guardian/debian/copyright
  ucs-test-guardian/debian/copyright.license
  ucs-test-guardian/debian/rules
  ucs-test-guardian/debian/ucs-test-guardian.install
  ucs-test-guardian/debian/ucslint.overrides
  ucs-test-guardian/debian/ucslint.overrides.license
  ucs-test-guardian/guardian_scripts/set_up_tests.sh
Due: ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build

Issue #228: fix test warning
  management-api/guardian_management_api/adapters/sql_persistence.py
  management-api/guardian_management_api/models/sql_persistence.py
Due: none

univention/components/authorization-engine/guardian#231: Enable read only deployment of guardian-ui container
  appcenter-management-ui/ini
  management-ui/README.md
  management-ui/docker/01-generate_config.sh
  management-ui/docker/Dockerfile
  management-ui/docker/nginx.conf
Due: none

chore(guardian): update descriptions in app/ini files
  appcenter-authz/ini
  appcenter-management-ui/ini
  appcenter-management/ini
Due: none

Issue #234: remove docker FromAsCasing warnings
  authorization-api/Dockerfile
  keycloak/Dockerfile
  keycloak/provisioning/Dockerfile
  management-api/Dockerfile
  opa/Dockerfile
Due: none

Issue #234: update traefik and enable dashboard
  dev-compose.yaml
Due: none

Issue #234: rework Keycloak provisioning
  dev-compose.yaml
  keycloak/Dockerfile
  keycloak/provisioning/configure.py
Due: none

Issue #234: remove references to Vagrant
  .gitignore
  Vagrantfile
  docs/developer-reference/how-tos.rst
  docs/developer-reference/setup.rst
  docs/developer-reference/tests.rst
Due: docs-create-production-merge-request

Issue #234: include proxy troubleshooting in setup docs
  docs/developer-reference/setup.rst
Due: docs-create-production-merge-request

Issue #237: configure Keycloak token correctly for 25.0.4
  appcenter-authz/ini
  appcenter-authz/templates/configure-keycloak.tmpl
  appcenter-common/keycloak/configure-keycloak-helpers.tmpl
  appcenter-management-ui/ini
  appcenter-management-ui/templates/configure-keycloak.tmpl
  appcenter-management/ini
  appcenter-management/templates/configure-keycloak.tmpl
  guardian-lib/guardian_lib/adapters/authentication.py
  guardian-lib/guardian_pytest/authentication.py
  keycloak/provisioning/guardian_client_management_api_config.json
  keycloak/provisioning/guardian_client_ui_config.json
Due: build_guardian_lib, publish_guardian-lib
