Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_management, coverage_management, test_authz, coverage_authz, test_port_loader, coverage_port_loader, build_port_loader, build_docker_image_opa, build_docker_image_authz, build_docker_image_management, publish_port_loader, authz_app_to_test_appcenter, management_app_to_test_appcenter

Path conditions:
  test_management: any of: management-api/**/*
  coverage_management: any of: management-api/**/*
  test_authz: any of: authorization-api/**/*
  coverage_authz: any of: authorization-api/**/*
  test_port_loader: any of: port-loader/**/*
  coverage_port_loader: any of: port-loader/**/*
  build_port_loader: any of: port-loader/**/*
  build_docker_image_opa: any of: opa/**/*
  build_docker_image_authz: any of: authorization-api/**/*
  build_docker_image_management: any of: management-api/**/*
  publish_port_loader: any of: port-loader/**/*
  authz_app_to_test_appcenter: any of: appcenter-authz/**/*
  management_app_to_test_appcenter: any of: appcenter-management/**/*

Add oauth fastapi tests
  .gitlab-ci.yml
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  authorization-api/tests/conftest.py
  authorization-api/tests/routes/test_app.py
  authorization-api/tests/test_authentication.py
  guardian-lib/pyproject.toml
  guardian-lib/tests/adapters/test_authentication.py
  guardian-pytest/README.md
  guardian-pytest/guardian_pytest/__init__.py
  guardian-pytest/guardian_pytest/authentication.py
  guardian-pytest/poetry.lock
  guardian-pytest/pyproject.toml
  management-api/poetry.lock
  management-api/pyproject.toml
  management-api/tests/conftest.py
  management-api/tests/routes/test_app.py
  management-api/tests/test_authentication.py
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

Update guardian-pytest dependency
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  guardian-lib/poetry.lock
  guardian-lib/pyproject.toml
  management-api/poetry.lock
  management-api/pyproject.toml
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

Issue #138: add new variables to App Center compose
  appcenter-authz/compose
  appcenter-management/compose
Due: authz_app_to_test_appcenter, management_app_to_test_appcenter

Issue #138: add app settings
  appcenter-management/configure
  appcenter-management/settings
Due: management_app_to_test_appcenter

univention/components/authorization-engine/guardian#141: Ensure generated cap name does not start with number
  management-api/guardian_management_api/adapters/capability.py
  management-api/tests/adapters/test_capability.py
Due: test_management, coverage_management, build_docker_image_management

Issue #132: Introduce UCS_TEST_ENABLED variable
  .env.example
  authorization-api/tests/adapters/test_persistence.py
  authorization-api/tests/adapters/test_policies.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #132: Adjust get/permission route tests
  authorization-api/tests/conftest.py
  authorization-api/tests/routes/test_get_permissions.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #132: Make UDMPersistenceAdapter groups compatible
  authorization-api/guardian_authorization_api/adapters/persistence.py
  authorization-api/tests/adapters/test_persistence.py
  authorization-api/tests/routes/test_permissions_check.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #135: add CORS middleware for the backend APIs
  .env.example
  README.md
  appcenter-authz/compose
  appcenter-authz/settings
  appcenter-management/compose
  appcenter-management/settings
  authorization-api/guardian_authorization_api/constants.py
  authorization-api/guardian_authorization_api/main.py
  authorization-api/tests/test_main.py
  dev-compose.yaml
  management-api/guardian_management_api/constants.py
  management-api/guardian_management_api/main.py
  management-ui/README.md
  management-ui/src/stores/settings.ts
  management-ui/vite.config.ts
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management, authz_app_to_test_appcenter, management_app_to_test_appcenter

Add client for machine2machine operations
  keycloak/provisioning/configure.py
  keycloak/provisioning/guardian_client_cli_config.json
Due: none

Issue #130: add 404 page to Management UI
  management-ui/src/i18n/locales/de.json
  management-ui/src/i18n/locales/en.json
  management-ui/src/router/index.ts
  management-ui/src/views/PageNotFound.vue
Due: none

univention/components/authorization-engine/guardian#142: Add tests to verify that GET multiple returns empty lists if no object was found
  management-api/tests/routes/test_capability.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#143: Ensure app_name,namespace_name,name order for swagger UI
  management-api/guardian_management_api/models/routers/base.py
  management-api/guardian_management_api/models/routers/context.py
  management-api/guardian_management_api/models/routers/namespace.py
  management-api/guardian_management_api/models/routers/permission.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#143: Add test case for existing capabilities
  management-api/tests/routes/test_capability.py
Due: test_management, coverage_management, build_docker_image_management

Issue #51: adapter for the Management API
  .env.example
  keycloak/provisioning/guardian_client_config.json
  management-ui/README.md
  management-ui/src/adapters/data.ts
  management-ui/src/stores/adapter.ts
  management-ui/src/stores/settings.ts
  management-ui/src/tests/assets/style.styl
  management-ui/src/tests/views/DataAdapter.vue
  management-ui/vite.config.ts
Due: none

Issue #136: create config settings adapter
  .env.example
  dev-compose.yaml
  management-ui/.env.production
  management-ui/README.md
  management-ui/docker/Dockerfile
  management-ui/env.d.ts
  management-ui/src/adapters/settings.ts
  management-ui/src/stores/settings.ts
  management-ui/src/tests/views/SettingsAdapter.vue
  management-ui/vite.config.ts
Due: none

tweak
  management-ui/vite.config.ts
Due: none

fix typo
  management-ui/vite.config.ts
Due: none

qa
  dev-compose.yaml
  management-ui/docker/Dockerfile
Due: none

Improve README for development setup
  management-ui/README.md
Due: none

README fix
  management-ui/README.md
Due: none

wip
  management-ui/src/adapters/data.ts
  management-ui/src/helpers/bff.ts
  management-ui/src/helpers/configs/addCapabilityViewConfig.ts
  management-ui/src/helpers/configs/addContextViewConfig.ts
  management-ui/src/helpers/configs/addNamespaceViewConfig.ts
  management-ui/src/helpers/configs/addRoleViewConfig.ts
  management-ui/src/helpers/configs/capabilityDetailResponseModel.ts
  management-ui/src/helpers/configs/contextDetailResponseModel.ts
  management-ui/src/helpers/configs/index.ts
  management-ui/src/helpers/configs/listViewConfig.ts
  management-ui/src/helpers/configs/namespaceDetailResponseModel.ts
  management-ui/src/helpers/configs/roleDetailResponseModel.ts
  management-ui/src/helpers/dataAccess.ts
  management-ui/src/helpers/mocks/capabilities/capabilitiesListResponseModel.ts
  management-ui/src/helpers/mocks/capabilities/index.ts
  management-ui/src/helpers/mocks/contexts/contextsListResponseModel.ts
  management-ui/src/helpers/mocks/contexts/index.ts
  management-ui/src/helpers/mocks/index.ts
  management-ui/src/helpers/mocks/namespaces/index.ts
  management-ui/src/helpers/mocks/namespaces/namespacesListResponseModel.ts
  management-ui/src/helpers/mocks/roles/index.ts
  management-ui/src/helpers/mocks/roles/rolesListResponseModel.ts
  management-ui/src/helpers/mocks/utils.ts
  management-ui/src/helpers/retrieveData.ts
  management-ui/src/views/EditView.vue
  management-ui/src/views/ListView.vue
Due: none

Update performance ADR link
  .gitlab/issue_templates/dev_ready_epic.md
  .gitlab/issue_templates/prod_ready_epic.md
Due: none

Issue #140: Allow a specifying a context for a role
  authorization-api/guardian_authorization_api/adapters/persistence.py
  authorization-api/guardian_authorization_api/adapters/policies.py
  authorization-api/guardian_authorization_api/models/opa.py
  authorization-api/guardian_authorization_api/models/policies.py
  authorization-api/guardian_authorization_api/models/routes.py
  authorization-api/pyproject.toml
  authorization-api/tests/adapters/test_persistence.py
  authorization-api/tests/adapters/test_policies.py
  authorization-api/tests/conftest.py
  authorization-api/tests/routes/test_get_permissions.py
  management-api/rego_policy_bundle_template/univention/test_mapping/data.json
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

request object
  authorization-api/guardian_authorization_api/routes.py
  authorization-api/tests/test_authentication.py
  guardian-lib/guardian_lib/adapters/authentication.py
  guardian-lib/tests/adapters/test_authentication.py
Due: test_authz, coverage_authz, build_docker_image_authz

wip
  authorization-api/guardian_authorization_api/main.py
  authorization-api/guardian_authorization_api/routes.py
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  authorization-api/tests/test_authentication.py
  guardian-lib/guardian_lib/adapters/authentication.py
  guardian-lib/guardian_lib/ports.py
  guardian-lib/tests/adapters/test_authentication.py
  guardian-lib/tests/conftest.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #61: connect to data adapter
  management-ui/.env.development.local.example
  management-ui/.env.test
  management-ui/src/helpers/config.ts
  management-ui/src/helpers/configs/addCapabilityViewConfig.ts
  management-ui/src/helpers/configs/addContextViewConfig.ts
  management-ui/src/helpers/configs/addNamespaceViewConfig.ts
  management-ui/src/helpers/configs/addRoleViewConfig.ts
  management-ui/src/helpers/configs/capabilityDetailResponseModel.ts
  management-ui/src/helpers/configs/contextDetailResponseModel.ts
  management-ui/src/helpers/configs/index.ts
  management-ui/src/helpers/configs/listViewConfig.ts
  management-ui/src/helpers/configs/namespaceDetailResponseModel.ts
  management-ui/src/helpers/configs/roleDetailResponseModel.ts
  management-ui/src/helpers/dataAccess.ts
  management-ui/src/helpers/mocks/capabilities/capabilitiesListResponseModel.ts
  management-ui/src/helpers/mocks/capabilities/capabilityDetailResponseModel.ts
  management-ui/src/helpers/mocks/capabilities/index.ts
  management-ui/src/helpers/mocks/configs/addCapabilityViewConfig.ts
  management-ui/src/helpers/mocks/configs/addContextViewConfig.ts
  management-ui/src/helpers/mocks/configs/addNamespaceViewConfig.ts
  management-ui/src/helpers/mocks/configs/addRoleViewConfig.ts
  management-ui/src/helpers/mocks/configs/listViewConfig.ts
  management-ui/src/helpers/mocks/contexts/contextDetailResponseModel.ts
  management-ui/src/helpers/mocks/contexts/contextsListResponseModel.ts
  management-ui/src/helpers/mocks/contexts/index.ts
  management-ui/src/helpers/mocks/index.ts
  management-ui/src/helpers/mocks/namespaces/index.ts
  management-ui/src/helpers/mocks/namespaces/namespaceDetailResponseModel.ts
  management-ui/src/helpers/mocks/namespaces/namespacesListResponseModel.ts
  management-ui/src/helpers/mocks/roles/index.ts
  management-ui/src/helpers/mocks/roles/roleDetailResponseModel.ts
  management-ui/src/helpers/mocks/roles/rolesListResponseModel.ts
  management-ui/src/helpers/mocks/utils.ts
  management-ui/src/helpers/retrieveData.ts
  management-ui/src/i18n/locales/de.json
  management-ui/src/i18n/locales/en.json
  management-ui/src/views/EditView.vue
  management-ui/src/views/ListView.vue
Due: none

Issue #26: catch validation errors
  authorization-api/guardian_authorization_api/adapters/api.py
  authorization-api/guardian_authorization_api/business_logic.py
  authorization-api/guardian_authorization_api/models/routes.py
  authorization-api/tests/routes/test_get_permissions.py
  management-api/guardian_management_api/adapters/app.py
  management-api/guardian_management_api/adapters/capability.py
  management-api/guardian_management_api/adapters/context.py
  management-api/guardian_management_api/adapters/fastapi_utils.py
  management-api/guardian_management_api/adapters/namespace.py
  management-api/guardian_management_api/adapters/role.py
  management-api/guardian_management_api/business_logic.py
  management-api/tests/routes/test_app.py
  management-api/tests/routes/test_capability.py
  management-api/tests/routes/test_context.py
  management-api/tests/routes/test_role.py
  management-api/tests/routes/test_router_namespace.py
  management-api/tests/test_business_logic.py
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

Issue #150: fix test_success authc test
  authorization-api/tests/test_authentication.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #150: add authentication port method for getting the actor identifier
  guardian-lib/guardian_lib/adapters/authentication.py
  guardian-lib/guardian_lib/ports.py
  guardian-lib/tests/adapters/test_authentication.py
Due: none

Issue #150: bump guardian-lib to 1.1.0
  guardian-lib/pyproject.toml
Due: none

Issue #150: bump guardian-pytest to 0.2.0
  guardian-pytest/poetry.lock
  guardian-pytest/pyproject.toml
Due: none

Issue #150: bump dependencies in authz and management
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  management-api/poetry.lock
  management-api/pyproject.toml
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

remove pragma no cover
  management-api/guardian_management_api/routers/app.py
Due: test_management, coverage_management, build_docker_image_management

Issue #144: Changed reponses of POSTS to 201 from 200.
  management-api/guardian_management_api/routers/app.py
  management-api/guardian_management_api/routers/capability.py
  management-api/guardian_management_api/routers/context.py
  management-api/guardian_management_api/routers/custom_endpoint.py
  management-api/guardian_management_api/routers/namespace.py
  management-api/guardian_management_api/routers/role.py
  management-api/tests/routes/test_app.py
  management-api/tests/routes/test_capability.py
  management-api/tests/routes/test_context.py
  management-api/tests/routes/test_role.py
  management-api/tests/routes/test_router_namespace.py
  management-api/tests/test_authentication.py
Due: test_management, coverage_management, build_docker_image_management

Issue #139: Removed StaticDataAdapter references (including tests).
  authorization-api/README.md
  authorization-api/guardian_authorization_api/adapters/persistence.py
  authorization-api/guardian_authorization_api/models/persistence.py
  authorization-api/pyproject.toml
  authorization-api/tests/adapters/test_persistence.py
  guardian-pytest/README.md
  management-api/README.md
  management-api/guardian_management_api/adapters/app.py
  management-api/guardian_management_api/adapters/permission.py
  management-api/pyproject.toml
  management-api/tests/adapters/test_adapters_app.py
  management-api/tests/adapters/test_adapters_permission.py
  management-api/tests/conftest.py
  management-api/tests/routes/test_permission.py
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

Issue #146: fix table does not exist
  management-api/tests/routes/test_app.py
Due: test_management, coverage_management, build_docker_image_management

guardian#17: basic Management UI Test AppCenter setup
  .gitlab-ci.yml
  appcenter-management-ui/README_UPDATE_DE
  appcenter-management-ui/README_UPDATE_EN
  appcenter-management-ui/compose
  appcenter-management-ui/configure_host
  appcenter-management-ui/ini
  appcenter-management-ui/inst
  appcenter-management-ui/settings
  appcenter-management-ui/uinst
Due: none
