Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_guardian_lib, publish_guardian-lib, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

build_guardian_lib:
  stage: build
  needs:
  - test_guardian_lib
  - coverage_guardian_lib
  artifacts:
    paths:
    - guardian-lib/dist/
    expire_in: 1 week
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  ...

publish_guardian-lib:
  stage: publish
  when: manual
  dependencies:
  - build_guardian_lib
  needs:
  - build_guardian_lib
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  ...

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd $UCS_TEST_PACKAGE && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: $UCS_TEST_PACKAGE/ucslint.xml

ucs_test_deb_build_git:
  stage: build_debian
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd $UCS_TEST_PACKAGE
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
    - $UCS_TEST_PACKAGE/build/

ucs_test_deb_repo_import:
  stage: build_debian
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P $UCS_TEST_PACKAGE -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $UCS_TEST_PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build_debian
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $UCS_TEST_PACKAGE
  
    '

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

feat: Add TRACE log level
  appcenter-authz/settings
  appcenter-management/settings
  guardian-lib/CHANGELOG.md
  guardian-lib/guardian_lib/logging.py
  guardian-lib/pyproject.toml
Due: build_guardian_lib, publish_guardian-lib

chore: Use new Guardian lib
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  management-api/poetry.lock
  management-api/pyproject.toml
Due: none

fix(deps): update dependency uuid to v11
  management-ui/package.json
  management-ui/yarn.lock
Due: none

chore(deps): update minor & patch level from npm
  management-ui/package.json
  management-ui/yarn.lock
Due: none

chore(docs): Fix build pipeline
  docs/guardian-manual/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

univention/components/authorization-engine/guardian#250: Fix versions
  .gitlab-ci/gitlab-ci.yml
  appcenter-authz/README_UPDATE_EN
  appcenter-management-ui/README_UPDATE_EN
  appcenter-management/README_UPDATE_EN
  management-ui/package.json
Due: none

univention/components/authorization-engine/guardian#250: Bump ini to 3.0.1
  appcenter-authz/ini
  appcenter-management-ui/ini
  appcenter-management/ini
Due: none

univention/components/authorization-engine/guardian#250: Fix changelog in guardian-manual
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

univention/components/authorization-engine/guardian#250: Fix changelog version links
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

fix: add basic scope to Guardian clients
  appcenter-management/templates/configure-keycloak.tmpl
Due: none

ci: Use app-release component for guardian pipelines
  .gitignore
  .gitlab-ci/gitlab-ci.yml
  appcenter-authz/compose.jinja
  appcenter-authz/includes/configure-keycloak.tmpl
  appcenter-authz/ini.jinja
  appcenter-authz/preinst.jinja
  appcenter-authz/scripts/generate-preinst
  appcenter-management-ui/compose.jinja
  appcenter-management-ui/includes/configure-keycloak.tmpl
  appcenter-management-ui/ini.jinja
  appcenter-management-ui/preinst.jinja
  appcenter-management-ui/scripts/generate-preinst
  appcenter-management/compose.jinja
  appcenter-management/includes/configure-keycloak.tmpl
  appcenter-management/ini.jinja
  appcenter-management/preinst.jinja
  appcenter-management/scripts/generate-preinst
Due: none

fix(deps): update minor & patch level from npm
  management-ui/package.json
  management-ui/yarn.lock
Due: none

ci: Adjust job include path for docs
  .gitlab-ci/gitlab-ci.yml
Due: none

ci: fix repo path
  .gitlab-ci/gitlab-ci.yml
Due: none

fix: allow 5.2 installation
  appcenter-authz/ini.jinja
  appcenter-management-ui/ini.jinja
  appcenter-management/ini.jinja
Due: none

fix: allways build docker image
  .gitlab-ci/gitlab-ci.yml
Due: none

chore: update ucs-base-image
  authorization-api/Dockerfile
  management-api/Dockerfile
  opa/Dockerfile
Due: none

chore: update nginx image
  management-ui/docker/Dockerfile
Due: none

fix: add basic scope to Guardian clients
  appcenter-management/includes/configure-keycloak.tmpl
Due: none

docs: add Guardian cheat sheet
  docs/guardian-manual/_static/guardian_cheat_sheet.odp
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

ci: fix repo path
  .gitlab-ci.yml
  .gitlab-ci/gitlab-ci.yml
  renovate.json
Due: none

ci: clear pre-commit cache
  .pre-commit-config.yaml
Due: none

docs: changelog for 3.0.1
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

chore: add 5.1-0 as supported version
  appcenter-authz/ini.jinja
  appcenter-management-ui/ini.jinja
  appcenter-management/ini.jinja
Due: none

docs: update readme for 3.0.1
  appcenter-authz/README_UPDATE_EN
  appcenter-management-ui/README_UPDATE_EN
  appcenter-management/README_UPDATE_EN
Due: none

docs: changelog for 3.0.1
  docs/guardian-manual/changelogs.rst
  management-ui/package.json
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

chore(ci): add tag workflow
  .gitlab-ci.yml
Due: none

Path conditions:
  build_guardian_lib: any of: guardian-lib/**/*
  publish_guardian-lib: any of: guardian-lib/**/*
  ucs_test_deb_lint: any of: ucs-test-guardian/**/*
  ucs_test_deb_build_git: any of: ucs-test-guardian/**/*
  ucs_test_deb_repo_import: any of: ucs-test-guardian/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-guardian/debian/changelog
  docs-linkcheck: any of: docs/guardian-manual/**/*
  docs-spelling: any of: docs/guardian-manual/**/*
  docs-html: any of: docs/guardian-manual/**/*
  docs-pdf: any of: docs/guardian-manual/**/*
  docs-warnings: any of: docs/guardian-manual/**/*
  docs-merge-to-one-artifact: any of: docs/guardian-manual/**/*
  docs-create-production-merge-request: any of: docs/**/*
