Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_management, coverage_management, test_authz, coverage_authz, test_port_loader, coverage_port_loader, build_port_loader, build_docker_image_opa, build_docker_image_authz, build_docker_image_management, publish_port_loader, authz_app_to_test_appcenter, management_app_to_test_appcenter

test_management:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd management-api
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_management:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd management-api
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=guardian_management_api .
  - coverage report --fail-under="$MANAGEMENT_COVERAGE_LIMIT"

test_authz:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd authorization-api
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_authz:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd authorization-api
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=guardian_authorization_api .
  - coverage report --fail-under="$AUTHZ_COVERAGE_LIMIT"

test_port_loader:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_port_loader:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=port_loader .
  - coverage report --fail-under="$PORT_LOADER_COVERAGE_LIMIT"

build_port_loader:
  stage: build_python
  needs:
  - test_port_loader
  - coverage_port_loader
  artifacts:
    paths:
    - port-loader/dist/
    expire_in: 1 week
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry
  ...

build_docker_image_opa:
  stage: build_docker
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/opa
    CI_REGISTRY_IMAGE: $CI_REGISTRY_IMAGE/guardian-opa
    KANIKO_ARGS: --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo=$CI_REGISTRY_IMAGE/cache

build_docker_image_authz:
  stage: build_docker
  needs:
  - test_authz
  - coverage_authz
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/authorization-api
    CI_REGISTRY_IMAGE: $CI_REGISTRY_IMAGE/guardian-authorization-api
  ...

build_docker_image_management:
  stage: build_docker
  needs:
  - test_management
  - coverage_management
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/management-api
    CI_REGISTRY_IMAGE: $CI_REGISTRY_IMAGE/guardian-management-api
  ...

publish_port_loader:
  stage: publish
  when: manual
  dependencies:
  - build_port_loader
  needs:
  - build_port_loader
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry
  ...

univention/components/authorization-engine/guardian#33: Add proper support for app_name and namespace name in persistence get one queries
  management-api/guardian_management_api/adapters/condition.py
  management-api/guardian_management_api/adapters/context.py
  management-api/guardian_management_api/adapters/permission.py
  management-api/guardian_management_api/adapters/role.py
  management-api/guardian_management_api/adapters/sql_persistence.py
  management-api/tests/adapters/test_sql_persistence.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#38: Implement routes for conditions
  management-api/guardian_management_api/adapter_registry.py
  management-api/guardian_management_api/adapters/condition.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/models/condition.py
  management-api/guardian_management_api/models/routers/base.py
  management-api/guardian_management_api/ports/condition.py
  management-api/guardian_management_api/routers/condition.py
  management-api/pyproject.toml
  management-api/tests/__init__.py
  management-api/tests/adapters/__init__.py
  management-api/tests/adapters/test_condition.py
  management-api/tests/conftest.py
  management-api/tests/routes/__init__.py
  management-api/tests/routes/test_app.py
  management-api/tests/routes/test_condition.py
  management-api/tests/test_adapter_registry.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#38: add note about compose env
  README.md
Due: none

Route opa through traefik for development
  dev-compose.yaml
Due: none

Issue #106: add basic test and example role capability mapping
  opa/BaseBundle/univention/base.rego
  opa/BaseBundle/univention/mapping/data.json
  opa/BaseBundle/univention/test_base.rego
Due: build_docker_image_opa

Issue #106: add local development instuctions to OPA README
  opa/README.md
Due: build_docker_image_opa

Issue #106: get_permissions endpoint
  opa/BaseBundle/univention/base.rego
  opa/BaseBundle/univention/test_base.rego
Due: build_docker_image_opa

Update README.md and .env.example
  .env.example
  README.md
  management-api/README.md
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#110: Add mock routes for capabilities and remove mapping endpoints
  management-api/.coveragerc
  management-api/guardian_management_api/main.py
  management-api/guardian_management_api/models/routers/capability.py
  management-api/guardian_management_api/models/routers/mapping.py
  management-api/guardian_management_api/routers/capability.py
  management-api/guardian_management_api/routers/mapping.py
  management-api/tests/models/routers/test_capability.py
Due: test_management, coverage_management, build_docker_image_management

Refactoring and additional tests
  opa/BaseBundle/univention/base.rego
  opa/BaseBundle/univention/test_base.rego
Due: build_docker_image_opa

Issue #48: port and mock adapter for authentication
  .env.example
  README.md
  management-ui/README.md
  management-ui/src/App.vue
  management-ui/src/adapters/authentication.ts
  management-ui/src/adapters/errors.ts
  management-ui/src/adapters/settings.ts
  management-ui/src/helpers/retrieveData.ts
  management-ui/src/ports/authentication.ts
  management-ui/src/ports/settings.ts
  management-ui/src/router/index.ts
  management-ui/src/stores/adapter.ts
  management-ui/src/stores/settings.ts
  management-ui/src/tests/views/AuthenticationAdapter.vue
  management-ui/src/tests/views/TestView.vue
Due: none

Issue #106: rename get_permissions policy
  opa/BaseBundle/univention/base.rego
  opa/BaseBundle/univention/test_base.rego
Due: build_docker_image_opa

Issue #117: Add opa pre commit hooks
  .gitlab-ci.yml
  .pre-commit-config.yaml
  README.md
Due: none

Issue #117: Fix regal errors
  opa/BaseBundle/univention/base.rego
  opa/BaseBundle/univention/base_test.rego
Due: build_docker_image_opa

Use link to adr in issue template
  .gitlab/issue_templates/default.md
Due: none

Issue #107: fix lint
  opa/BaseBundle/univention/base.rego
  opa/BaseBundle/univention/base_test.rego
Due: build_docker_image_opa

Issue #107: check_permissions policy
  opa/BaseBundle/univention/base.rego
  opa/BaseBundle/univention/base_test.rego
Due: build_docker_image_opa

Issue #107: adapt get_permissions to handle null contexts
  opa/BaseBundle/univention/base.rego
  opa/BaseBundle/univention/base_test.rego
Due: build_docker_image_opa

univention/internal/research-library#57: Remove app_admin from responses other than register and rework register response
  management-api/guardian_management_api/adapters/app.py
  management-api/guardian_management_api/models/routers/app.py
  management-api/guardian_management_api/routers/app.py
  management-api/tests/adapters/test_adapters_app.py
  management-api/tests/routes/test_app.py
Due: test_management, coverage_management, build_docker_image_management

univention/internal/research-library#57: Implement app register
  management-api/guardian_management_api/adapters/app.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/ports/app.py
  management-api/guardian_management_api/routers/app.py
  management-api/tests/adapters/test_adapters_app.py
  management-api/tests/routes/test_app.py
Due: test_management, coverage_management, build_docker_image_management

univention/internal/research-library#57: Fix wrong patch for app
  management-api/guardian_management_api/adapters/app.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/models/app.py
  management-api/guardian_management_api/ports/app.py
  management-api/tests/adapters/test_adapters_app.py
Due: test_management, coverage_management, build_docker_image_management

univention/internal/research-library#57: Fix create_obj return value
  management-api/guardian_management_api/adapters/sql_persistence.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#113: Configure bundle server in opa container
  .env.example
  .pre-commit-config.yaml
  dev-compose.yaml
  opa/Dockerfile
  opa/opa_config.yaml
  opa/s6-rc.d/opa/run
Due: build_docker_image_opa

univention/components/authorization-engine/guardian#113: Implement bundle server
  .env.example
  .gitignore
  README.md
  dev-compose.yaml
  management-api/Dockerfile
  management-api/guardian_management_api/adapter_registry.py
  management-api/guardian_management_api/adapters/bundle_server.py
  management-api/guardian_management_api/constants.py
  management-api/guardian_management_api/errors.py
  management-api/guardian_management_api/main.py
  management-api/guardian_management_api/models/routers/capability.py
  management-api/guardian_management_api/ports/bundle_server.py
  management-api/guardian_management_api/routers/capability.py
  management-api/poetry.lock
  management-api/pyproject.toml
  management-api/tests/adapters/test_bundle_server.py
  management-api/tests/conftest.py
  management-api/tests/models/routers/test_capability.py
  management-api/tests/test_adapter_registry.py
Due: test_management, coverage_management, build_docker_image_management

Fix imports in README
  management-api/README.md
Due: test_management, coverage_management, build_docker_image_management

Issue #50: implement Keycloak authentication adapter
  .env.example
  management-ui/README.md
  management-ui/package.json
  management-ui/src/App.vue
  management-ui/src/adapters/authentication.ts
  management-ui/src/router/index.ts
  management-ui/src/stores/adapter.ts
  management-ui/src/stores/settings.ts
  management-ui/src/tests/assets/style.styl
  management-ui/src/tests/components/SettingsConfig.vue
  management-ui/src/tests/views/AuthenticationAdapter.vue
  management-ui/src/tests/views/SettingsAdapter.vue
  management-ui/src/tests/views/TestView.vue
  management-ui/yarn.lock
Due: none

Move dev setup from README into a script
  README.md
  dev-compose.yaml
  dev-run
Due: none

Issue #109: add dummy condition
  opa/BaseBundle/univention/conditions/default.rego
  opa/BaseBundle/univention/conditions/test_default.rego
Due: build_docker_image_opa

Issue #109: implement dummy condition and adapt tests
  opa/BaseBundle/univention/base.rego
  opa/BaseBundle/univention/base_test.rego
  opa/BaseBundle/univention/conditions/stock.rego
  opa/BaseBundle/univention/conditions/stock_test.rego
  opa/BaseBundle/univention/mapping/data.json
  opa/BaseBundle/univention/utils.rego
  opa/BaseBundle/univention/utils_test.rego
Due: build_docker_image_opa

Issue #47: refactor models into separate files
  management-ui/src/helpers/models/index.ts
  management-ui/src/helpers/models/interface.ts
Due: none

Fix out-of-the-box developer setup
  .env.example
  dev-run
Due: none

WIP
  guardian-lib/guardian_lib/adapters/authentication.py
  guardian-lib/guardian_lib/authorization.py
  guardian-lib/guardian_lib/ports.py
Due: none

WIP2
  guardian-lib/guardian_lib/adapters/authentication.py
  guardian-lib/guardian_lib/authorization.py
  guardian-lib/guardian_lib/ports.py
  guardian-lib/tests/adapters/test_authentication.py
Due: none

WIP3
  authorization-api/guardian_authorization_api/adapter_registry.py
  authorization-api/guardian_authorization_api/business_logic.py
  authorization-api/guardian_authorization_api/routes.py
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  authorization-api/tests/conftest.py
  authorization-api/tests/routes/test_app.py
  authorization-api/tests/test_business_logic.py
  dev-compose.yaml
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #37: Implement routes for permissions
  management-api/guardian_management_api/adapter_registry.py
  management-api/guardian_management_api/adapters/condition.py
  management-api/guardian_management_api/adapters/fastapi_utils.py
  management-api/guardian_management_api/adapters/permission.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/models/permission.py
  management-api/guardian_management_api/models/routers/base.py
  management-api/guardian_management_api/models/routers/permission.py
  management-api/guardian_management_api/ports/permission.py
  management-api/guardian_management_api/routers/permission.py
  management-api/pyproject.toml
  management-api/tests/adapters/test_adapters_permission.py
  management-api/tests/conftest.py
  management-api/tests/routes/test_condition.py
  management-api/tests/routes/test_permission.py
  management-api/tests/test_adapter_registry.py
Due: test_management, coverage_management, build_docker_image_management

The build command needs the gitlab ip as well -> Merge commands
  dev-run
Due: none

Fix out-of-the-box dev setup
  dev-run
Due: none

Path conditions:
  test_management: any of: management-api/**/*
  coverage_management: any of: management-api/**/*
  test_authz: any of: authorization-api/**/*
  coverage_authz: any of: authorization-api/**/*
  test_port_loader: any of: port-loader/**/*
  coverage_port_loader: any of: port-loader/**/*
  build_port_loader: any of: port-loader/**/*
  build_docker_image_opa: any of: opa/**/*
  build_docker_image_authz: any of: authorization-api/**/*
  build_docker_image_management: any of: management-api/**/*
  publish_port_loader: any of: port-loader/**/*
  authz_app_to_test_appcenter: any of: appcenter-authz/**/*
  management_app_to_test_appcenter: any of: appcenter-management/**/*
