Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_management, coverage_management, test_authz, coverage_authz, test_port_loader, coverage_port_loader, build_port_loader, build_docker_image_opa, build_docker_image_authz, build_docker_image_management, publish_port_loader, authz_app_to_test_appcenter, management_app_to_test_appcenter

Path conditions:
  test_management: any of: management-api/**/*
  coverage_management: any of: management-api/**/*
  test_authz: any of: authorization-api/**/*
  coverage_authz: any of: authorization-api/**/*
  test_port_loader: any of: port-loader/**/*
  coverage_port_loader: any of: port-loader/**/*
  build_port_loader: any of: port-loader/**/*
  build_docker_image_opa: any of: opa/**/*
  build_docker_image_authz: any of: authorization-api/**/*
  build_docker_image_management: any of: management-api/**/*
  publish_port_loader: any of: port-loader/**/*
  authz_app_to_test_appcenter: any of: appcenter-authz/**/*
  management_app_to_test_appcenter: any of: appcenter-management/**/*

fixup! Issue #22: Added Keycloak and -Provisioning container.
  keycloak/provisioning/Dockerfile
Due: none

WIP6
  .pre-commit-config.yaml
  authorization-api/guardian_authorization_api/main.py
  authorization-api/guardian_authorization_api/routes.py
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  authorization-api/tests/test_business_logic.py
  dev-compose.yaml
  guardian-lib/guardian_lib/adapters/authentication.py
  guardian-lib/guardian_lib/models/authentication.py
  guardian-lib/poetry.lock
  guardian-lib/pyproject.toml
Due: test_authz, coverage_authz, build_docker_image_authz

WIP7
  dev-compose.yaml
  guardian-lib/guardian_lib/adapters/authentication.py
  guardian-lib/guardian_lib/models/authentication.py
  guardian-lib/poetry.lock
  guardian-lib/pyproject.toml
  guardian-lib/tests/adapters/test_authentication.py
  guardian-lib/tests/conftest.py
Due: none

univention/components/authorization-engine/guardian#39: Fix cascading behavior
  management-api/alembic/versions/1.0.0_initial_schema.py
  management-api/guardian_management_api/models/sql_persistence.py
  management-api/tests/models/test_sql_persistence.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#114: Generate mapping from persistence
  management-api/guardian_management_api/adapters/bundle_server.py
  management-api/guardian_management_api/main.py
  management-api/guardian_management_api/ports/bundle_server.py
  management-api/rego_policy_bundle_template/univention/base.rego
  management-api/rego_policy_bundle_template/univention/base_test.rego
  management-api/rego_policy_bundle_template/univention/test_mapping/data.json
  management-api/tests/adapters/test_bundle_server.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#39: Adapt walkthrough
  docs/devel/Integrate_Guardian.md
Due: none

fixup! Issue #43: result -> response
  authorization-api/guardian_authorization_api/adapters/policies.py
Due: test_authz, coverage_authz, build_docker_image_authz

fixup! Issue #43: opa_is_running instead of opa_is_not_running
  authorization-api/tests/routes/test_permissions_check.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #43: Use get_authz_permissions_check_request_dict
  authorization-api/tests/routes/test_permissions_check.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #43: Fix duplicate conftest.py
  authorization-api/tests/conftest.py
  authorization-api/tests/routes/conftest.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #43: Rename e2e
  authorization-api/pyproject.toml
  authorization-api/tests/routes/test_permissions_check.py
Due: test_authz, coverage_authz, build_docker_image_authz

fixup! Issue #43: Better comment
  authorization-api/tests/routes/test_permissions_check.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #43: opa_is_running instead of opa_is_not_running
  authorization-api/tests/routes/test_permissions_check.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #43: Remove comment
  authorization-api/tests/conftest.py
Due: test_authz, coverage_authz, build_docker_image_authz

fixup! Issue #43: Fix duplicate conftest.py
  authorization-api/tests/routes/test_permissions_check.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #43: Better comment
  authorization-api/tests/routes/test_permissions_check.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #43: Refactor transform_exception
  authorization-api/guardian_authorization_api/adapters/api.py
Due: test_authz, coverage_authz, build_docker_image_authz

Draft: Issue #43: Implement routes for permission/check
  authorization-api/guardian_authorization_api/adapter_registry.py
  authorization-api/guardian_authorization_api/adapters/api.py
  authorization-api/guardian_authorization_api/adapters/policies.py
  authorization-api/guardian_authorization_api/business_logic.py
  authorization-api/guardian_authorization_api/models/opa.py
  authorization-api/guardian_authorization_api/models/policies.py
  authorization-api/guardian_authorization_api/models/routes.py
  authorization-api/guardian_authorization_api/ports.py
  authorization-api/guardian_authorization_api/routes.py
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  authorization-api/tests/__init__.py
  authorization-api/tests/adapters/__init__.py
  authorization-api/tests/adapters/test_api.py
  authorization-api/tests/adapters/test_policies.py
  authorization-api/tests/conftest.py
  authorization-api/tests/routes/__init__.py
  authorization-api/tests/routes/conftest.py
  authorization-api/tests/routes/test_permissions_check.py
  authorization-api/tests/test_adapter_registry.py
  authorization-api/tests/test_business_logic.py
  opa/BaseBundle/univention/base.rego
  opa/BaseBundle/univention/base_test.rego
Due: test_authz, coverage_authz, build_docker_image_opa, build_docker_image_authz

Issue #43: result -> response
  authorization-api/guardian_authorization_api/adapters/policies.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #43: Use strings instead of integers
  authorization-api/tests/test_business_logic.py
Due: test_authz, coverage_authz, build_docker_image_authz

Apply 1 suggestion(s) to 1 file(s)
  authorization-api/tests/routes/test_permissions_check.py
Due: test_authz, coverage_authz, build_docker_image_authz

fixup! Issue #43: Use strings instead of integers
  authorization-api/tests/test_business_logic.py
Due: test_authz, coverage_authz, build_docker_image_authz

fixup! fixup! Issue #43: Use strings instead of integers
  authorization-api/tests/routes/test_permissions_check.py
Due: test_authz, coverage_authz, build_docker_image_authz

WIP7
  authorization-api/guardian_authorization_api/main.py
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  authorization-api/tests/conftest.py
  authorization-api/tests/routes/test_app.py
  authorization-api/tests/test_adapter_registry.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #22: Fixed setting password for user.
  dev-compose.yaml
  keycloak/Dockerfile
  keycloak/provisioning/configure.sh
Due: none

Issue #118: rename conditions package
  opa/BaseBundle/.manifest
  opa/BaseBundle/guardian/conditions/stock.rego
  opa/BaseBundle/guardian/conditions/stock_test.rego
  opa/BaseBundle/univention/utils.rego
Due: build_docker_image_opa

Issue #36: get contexts
  management-api/guardian_management_api/adapters/context.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/routers/context.py
  management-api/tests/adapters/test_context.py
  management-api/tests/routes/test_context.py
Due: test_management, coverage_management, build_docker_image_management

Issue #118: add confition target_is_self
  management-api/alembic/1.0.0_builtin_conditions/target_is_self.json
  management-api/alembic/1.0.0_builtin_conditions/target_is_self.rego
  management-api/alembic/1.0.0_builtin_conditions/target_is_self_test.rego
Due: test_management, coverage_management, build_docker_image_management

Issue #35:Implement routes and tests for roles
  management-api/guardian_management_api/adapter_registry.py
  management-api/guardian_management_api/adapters/role.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/models/role.py
  management-api/guardian_management_api/models/routers/role.py
  management-api/guardian_management_api/ports/role.py
  management-api/guardian_management_api/routers/role.py
  management-api/tests/adapters/test_adapters_role.py
  management-api/tests/conftest.py
  management-api/tests/routes/test_role.py
  management-api/tests/test_adapter_registry.py
Due: test_management, coverage_management, build_docker_image_management

Issue #118: condition target_is_empty
  management-api/alembic/1.0.0_builtin_conditions/no_targets.json
  management-api/alembic/1.0.0_builtin_conditions/no_targets.rego
  management-api/alembic/1.0.0_builtin_conditions/no_targets_test.rego
Due: test_management, coverage_management, build_docker_image_management

Issue #118: condition target_field_not_equals_value
  management-api/alembic/1.0.0_builtin_conditions/target_field_not_equals_value.json
  management-api/alembic/1.0.0_builtin_conditions/target_field_not_equals_value.rego
  management-api/alembic/1.0.0_builtin_conditions/target_field_not_equals_value_test.rego
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#120: Add provisioning data to first migration
  .pre-commit-config.yaml
  management-api/alembic/1.0.0_builtin_conditions/only_if_param_result_true.json
  management-api/alembic/1.0.0_builtin_conditions/only_if_param_result_true.rego
  management-api/alembic/1.0.0_builtin_conditions/only_if_param_result_true_test.rego
  management-api/alembic/README
  management-api/alembic/README.md
  management-api/alembic/versions/1.0.0_initial_schema.py
Due: test_management, coverage_management, build_docker_image_management

Issue #36: get context
  management-api/guardian_management_api/adapters/context.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/routers/context.py
  management-api/tests/adapters/test_context.py
  management-api/tests/routes/test_context.py
Due: test_management, coverage_management, build_docker_image_management

Issue #36: patch context
  management-api/guardian_management_api/adapters/context.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/models/context.py
  management-api/guardian_management_api/ports/context.py
  management-api/guardian_management_api/routers/context.py
  management-api/tests/adapters/test_context.py
  management-api/tests/routes/test_context.py
Due: test_management, coverage_management, build_docker_image_management

Issue #37: Implement routes for permissions
  management-api/guardian_management_api/adapter_registry.py
  management-api/guardian_management_api/adapters/condition.py
  management-api/guardian_management_api/adapters/fastapi_utils.py
  management-api/guardian_management_api/adapters/permission.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/models/permission.py
  management-api/guardian_management_api/models/routers/base.py
  management-api/guardian_management_api/models/routers/permission.py
  management-api/guardian_management_api/ports/permission.py
  management-api/guardian_management_api/routers/permission.py
  management-api/pyproject.toml
  management-api/tests/adapters/test_adapters_permission.py
  management-api/tests/conftest.py
  management-api/tests/routes/test_condition.py
  management-api/tests/routes/test_permission.py
  management-api/tests/test_adapter_registry.py
Due: test_management, coverage_management, build_docker_image_management

Issue #118: condition target_field_equals_actor_field
  management-api/alembic/1.0.0_builtin_conditions/target_field_equals_actor_field.json
  management-api/alembic/1.0.0_builtin_conditions/target_field_equals_actor_field.rego
  management-api/alembic/1.0.0_builtin_conditions/target_field_equals_actor_field_test.rego
Due: test_management, coverage_management, build_docker_image_management

Issue #36: logging
  management-api/guardian_management_api/business_logic.py
Due: test_management, coverage_management, build_docker_image_management

Issue #36: create context
  management-api/.coveragerc
  management-api/guardian_management_api/adapter_registry.py
  management-api/guardian_management_api/adapters/context.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/models/context.py
  management-api/guardian_management_api/models/routers/context.py
  management-api/guardian_management_api/ports/context.py
  management-api/guardian_management_api/routers/context.py
  management-api/tests/adapters/test_context.py
  management-api/tests/conftest.py
  management-api/tests/routes/test_context.py
  management-api/tests/test_adapter_registry.py
Due: test_management, coverage_management, build_docker_image_management

Issue #36: fix models & test 500
  management-api/guardian_management_api/adapters/context.py
  management-api/guardian_management_api/models/context.py
  management-api/guardian_management_api/ports/context.py
  management-api/tests/adapters/test_context.py
  management-api/tests/test_business_logic.py
Due: test_management, coverage_management, build_docker_image_management
