Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_guardian_lib, publish_guardian-lib, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

build_guardian_lib:
  stage: build
  needs:
  - test_guardian_lib
  - coverage_guardian_lib
  artifacts:
    paths:
    - guardian-lib/dist/
    expire_in: 1 week
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  ...

publish_guardian-lib:
  stage: publish
  when: manual
  dependencies:
  - build_guardian_lib
  needs:
  - build_guardian_lib
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  ...

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd $UCS_TEST_PACKAGE && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: $UCS_TEST_PACKAGE/ucslint.xml

ucs_test_deb_build_git:
  stage: build_debian
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd $UCS_TEST_PACKAGE
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
    - $UCS_TEST_PACKAGE/build/

ucs_test_deb_repo_import:
  stage: build_debian
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P $UCS_TEST_PACKAGE -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $UCS_TEST_PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build_debian
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $UCS_TEST_PACKAGE
  
    '

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

fix(guardian-management-api): Added timeouts for HTTP requests.
  management-api/guardian_management_api/adapters/authz.py
Due: none

fixup! fixup! fixup! fixup! fix(guardian-management-api): Added timeouts for HTTP requests.
  guardian-lib/guardian_lib/adapters/authentication.py
  management-api/guardian_management_api/adapters/authz.py
  management-api/guardian_management_api/adapters/fastapi_utils.py
  management-api/tests/adapters/test_authz.py
Due: build_guardian_lib, publish_guardian-lib

fixup! fixup! fix(guardian-management-api): Added timeouts for HTTP requests.
  guardian-lib/guardian_lib/adapters/authentication.py
  management-api/guardian_management_api/adapters/authz.py
  management-api/tests/adapters/test_authz.py
Due: build_guardian_lib, publish_guardian-lib

fixup! fix(guardian-management-api): Fix update condition
  management-api/guardian_management_api/adapters/condition.py
  management-api/guardian_management_api/business_logic.py
Due: none

fixup! fixup! fix(guardian-management-api): Fix update condition
  management-api/tests/test_business_logic.py
Due: none

chore(deps): Update Minor & Patch level from docker
  .gitlab-ci/gitlab-ci.yml
  authorization-api/Dockerfile
  keycloak/provisioning/Dockerfile
  management-api/Dockerfile
  management-ui/docker/Dockerfile
  opa/Dockerfile
Due: none

fix: Bump image to errata 299
  appcenter-authz/README_UPDATE_EN
  appcenter-management-ui/README_UPDATE_EN
  appcenter-management/README_UPDATE_EN
  authorization-api/Dockerfile
  docs/guardian-manual/changelogs.rst
  management-api/Dockerfile
  management-ui/docker/Dockerfile
  opa/Dockerfile
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

docs: Rectify release date for authorization API
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

feat(authorization-client): Python client
  .gitlab-ci.yml
  .gitlab-ci/gitlab-ci.yml
  .pre-commit-config.yaml
  authorization-client/README.md
  authorization-client/guardian_authorization_client/__init__.py
  authorization-client/guardian_authorization_client/authorization.py
  authorization-client/guardian_authorization_client/config.py
  authorization-client/guardian_authorization_client/management.py
  authorization-client/poetry.lock
  authorization-client/pyproject.toml
Due: none

fix(authorization-client): Make schema configurable
  authorization-client/README.md
  authorization-client/guardian_authorization_client/authorization.py
Due: none

chore(deps): update minor & patch level from docker
  .gitlab-ci/gitlab-ci.yml
  keycloak/provisioning/Dockerfile
  management-ui/docker/Dockerfile
Due: none

fix: bump ucs-base-image
  authorization-api/Dockerfile
  management-api/Dockerfile
  management-ui/docker/Dockerfile
  opa/Dockerfile
Due: none

chore: prepare release 3.0.5
  appcenter-authz/README_UPDATE_EN
  appcenter-management-ui/README_UPDATE_EN
  appcenter-management/README_UPDATE_EN
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

fix: Dependency updates
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  docs/guardian-manual/changelogs.rst
  management-api/poetry.lock
  management-api/pyproject.toml
  management-ui/package.json
  management-ui/yarn.lock
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

ci: add sonarube job
  .gitlab-ci/gitlab-ci.yml
  sonar-project.properties
Due: none

ci: set directories for SonarQube to fix coverage calculation
  sonar-project.properties
Due: none

chore(deps): update minor & patch level from docker
  .gitlab-ci/gitlab-ci.yml
  authorization-api/Dockerfile
  keycloak/provisioning/Dockerfile
  management-api/Dockerfile
  management-ui/docker/Dockerfile
  opa/Dockerfile
Due: none

chore: migrate to common-renovate
  renovate.json5
Due: none

fix(deps): Update Base Image
  authorization-api/Dockerfile
  management-api/Dockerfile
  management-ui/docker/Dockerfile
  opa/Dockerfile
Due: none

fix(management-ui): pull node through DOCKER_PROXY
  management-ui/docker/Dockerfile
Due: none

chore: prepare release 3.0.7
  appcenter-authz/README_UPDATE_EN
  appcenter-management-ui/README_UPDATE_EN
  appcenter-management/README_UPDATE_EN
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

fix(deps): Update gitregistry.knut.univention.de/univention/dev/projects/ucs-base-image/ucs-base-flex:5.2.5 Docker digest to fa97151
  authorization-api/Dockerfile
  management-api/Dockerfile
  opa/Dockerfile
Due: none

fix(deps): Update dependency @eslint/config-array to v0.23.3
  management-ui/yarn.lock
Due: none

fix(deps): Update dependency @vitejs/plugin-vue to ^6.0.4
  management-ui/package.json
Due: none

fix(deps): Update dependency authlib to v1.6.9
  management-api/poetry.lock
Due: none

fix(deps): Update dependency orjson to v3.11.7
  management-api/poetry.lock
Due: none

fix(deps): Update dependency sqlalchemy to v2.0.48
  management-api/poetry.lock
Due: none

chore: add AGENTS.md
  AGENTS.md
Due: none

chore: update release contacts in ci pipeline
  .gitlab-ci/gitlab-ci.yml
Due: none

fix(deps): Update dependency vue to v3.5.32
  management-ui/yarn.lock
Due: none

chore(renovate): Update renovate preset univention/dev/nubus-for-k8s/common-renovate to v1.6.0
  renovate.json5
Due: none

fix(deps): Update dependency @playwright/test to ^1.59.1
  management-ui/package.json
Due: none

docs: add initial AI guidance (BMAD project context and AGENTS.md)
  AGENTS.md
  _bmad-output/project-context.md
Due: none

tests: add architecture tests
  .gitlab-ci/gitlab-ci.yml
  .pre-commit-config.yaml
  .ruff.toml
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  authorization-api/tests/test_architecture.py
  guardian-lib/guardian_pytest/architecture.py
  guardian-lib/poetry.lock
  guardian-lib/pyproject.toml
  guardian-lib/tests/test_architecture.py
  management-api/poetry.lock
  management-api/pyproject.toml
  management-api/tests/test_architecture.py
Due: build_guardian_lib, publish_guardian-lib

chore: fix markdown of GitLab issue templates
  .gitlab/issue_templates/default.md
  .gitlab/issue_templates/dev_ready_epic.md
  .gitlab/issue_templates/prod_ready_epic.md
Due: none

docs: add Product Requirements Document (PRD)
  _bmad-output/planning-artifacts/prd.md
Due: none

Path conditions:
  build_guardian_lib: any of: guardian-lib/**/*
  publish_guardian-lib: any of: guardian-lib/**/*
  ucs_test_deb_lint: any of: ucs-test-guardian/**/*
  ucs_test_deb_build_git: any of: ucs-test-guardian/**/*
  ucs_test_deb_repo_import: any of: ucs-test-guardian/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-guardian/debian/changelog
  docs-linkcheck: any of: docs/guardian-manual/**/*
  docs-spelling: any of: docs/guardian-manual/**/*
  docs-html: any of: docs/guardian-manual/**/*
  docs-pdf: any of: docs/guardian-manual/**/*
  docs-warnings: any of: docs/guardian-manual/**/*
  docs-merge-to-one-artifact: any of: docs/guardian-manual/**/*
  docs-create-production-merge-request: any of: docs/**/*
