Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_guardian_lib, publish_guardian-lib, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

build_guardian_lib:
  stage: build
  needs:
  - test_guardian_lib
  - coverage_guardian_lib
  artifacts:
    paths:
    - guardian-lib/dist/
    expire_in: 1 week
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  ...

publish_guardian-lib:
  stage: publish
  when: manual
  dependencies:
  - build_guardian_lib
  needs:
  - build_guardian_lib
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  ...

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd $UCS_TEST_PACKAGE && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: $UCS_TEST_PACKAGE/ucslint.xml

ucs_test_deb_build_git:
  stage: build_debian
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd $UCS_TEST_PACKAGE
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
    - $UCS_TEST_PACKAGE/build/

ucs_test_deb_repo_import:
  stage: build_debian
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P $UCS_TEST_PACKAGE -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $UCS_TEST_PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build_debian
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $UCS_TEST_PACKAGE
  
    '

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

Revert "Issue #207: fix keycloak test"
  keycloak/provisioning/guardian_client_cli_config.json
Due: none

Issue #207: adapt authentication tests to new keycloak clients
  management-api/tests/test_authentication.py
Due: none

fix: Use project version in fastapi
  authorization-api/guardian_authorization_api/main.py
  authorization-api/pyproject.toml
  management-api/guardian_management_api/main.py
  management-api/pyproject.toml
Due: none

Set html lang attr dynamically
  management-ui/index.html
  management-ui/src/main.ts
Due: none

guardian-manual: Deactivate pdf download
  docs/guardian-manual/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

configure and restart in joinscript
  appcenter-authz/inst
  appcenter-management/inst
Due: none

fixup! fixup! fixup! fix(docs): Update docs
  docs/guardian-manual/installation.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

fixup! remove wrong configuration entry
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

addittional changelog
  appcenter-authz/README_UPDATE_EN
  appcenter-management/README_UPDATE_EN
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Rework upgrade section
  docs/guardian-manual/installation.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Update changelog
  docs/guardian-manual/changelogs.rst
  docs/guardian-manual/configuration.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Revert "configure and restart in joinscript"
  appcenter-authz/inst
  appcenter-management/inst
Due: none

fix(docs): Update docs
  docs/guardian-manual/configuration.rst
  docs/guardian-manual/installation.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

fixup! fixup! fix(docs): Update docs
  docs/guardian-manual/installation.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

fixup! fix(docs): Update docs
  docs/guardian-manual/configuration.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Update images
  docs/guardian-manual/images/authorization-api/settings_udm.png
  docs/guardian-manual/images/management-api/settings_authentication.png
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

fix header
  docs/guardian-manual/installation.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

remove wrong configuration entry
  docs/guardian-manual/configuration.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

univention/components/authorization-engine/guardian#207: Adapt docs
  appcenter-authz/README_UPDATE_EN
  appcenter-management/README_UPDATE_EN
  docs/guardian-manual/changelogs.rst
  docs/guardian-manual/configuration.rst
  docs/guardian-manual/images/authorization-api/settings_udm.png
  docs/guardian-manual/images/management-api/settings_authentication.png
  docs/guardian-manual/installation.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #205: update Guardian manual with client changes
  docs/guardian-manual/developer-quick-start.rst
  docs/guardian-manual/installation.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #205: update Keycloak clients
  README.md
  appcenter-authz/inst
  appcenter-authz/templates/configure-keycloak.tmpl
  appcenter-common/keycloak/configure-keycloak-helpers.tmpl
  appcenter-management-ui/templates/configure-keycloak.tmpl
  appcenter-management/inst
  appcenter-management/templates/configure-keycloak.tmpl
  authorization-api/guardian_authorization_api/main.py
  keycloak/provisioning/configure.py
  keycloak/provisioning/guardian_client_management_api_config.json
  keycloak/provisioning/guardian_ui_client_config.json
  management-api/guardian_management_api/adapters/authz.py
  management-api/guardian_management_api/main.py
  management-api/tests/adapters/test_authz.py
Due: none

Issue #205: fix local development Keycloak setup
  .env.example
  keycloak/provisioning/configure.py
  keycloak/provisioning/guardian_ui_client_config.json
Due: none

Issue #205: correct typo for client test
  management-api/tests/test_authentication.py
Due: none

Issue #207: fix skipped integration test
  authorization-api/tests/adapters/test_persistence.py
Due: none

Make linting parallel again
  .gitlab-ci.yml
Due: none

Fix some little things
  docs/developer-reference/setup.rst
  docs/developer-reference/tests.rst
Due: docs-create-production-merge-request

Change test chapter to work with vagrant box
  Vagrantfile
  docs/developer-reference/tests.rst
Due: docs-create-production-merge-request

Rely on vagrantbox in test chapter
  docs/developer-reference/tests.rst
Due: docs-create-production-merge-request

Tests chapter
  docs/developer-reference/index.rst
  docs/developer-reference/tests.rst
Due: docs-create-production-merge-request

Create developer reference
  .gitignore
  Vagrantfile
  docs/developer-reference/Makefile
  docs/developer-reference/_static/univention_logo.pdf
  docs/developer-reference/conf.py
  docs/developer-reference/index.rst
  docs/developer-reference/make.bat
  docs/developer-reference/releases.rst
  docs/developer-reference/setup.rst
  docs/developer-reference/spelling_wordlist
Due: docs-create-production-merge-request

Adhere to upcoming versioning ADR
  docs/developer-reference/releases.rst
Due: docs-create-production-merge-request

fix typo
  docs/developer-reference/setup.rst
Due: docs-create-production-merge-request

Add libvirt docs link
  docs/developer-reference/setup.rst
Due: docs-create-production-merge-request

use /home/vagrant instead of ~
  Vagrantfile
  docs/developer-reference/setup.rst
Due: docs-create-production-merge-request

Path conditions:
  build_guardian_lib: any of: guardian-lib/**/*
  publish_guardian-lib: any of: guardian-lib/**/*
  ucs_test_deb_lint: any of: ucs-test-guardian/**/*
  ucs_test_deb_build_git: any of: ucs-test-guardian/**/*
  ucs_test_deb_repo_import: any of: ucs-test-guardian/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-guardian/debian/changelog
  docs-linkcheck: any of: docs/guardian-manual/**/*
  docs-spelling: any of: docs/guardian-manual/**/*
  docs-html: any of: docs/guardian-manual/**/*
  docs-pdf: any of: docs/guardian-manual/**/*
  docs-warnings: any of: docs/guardian-manual/**/*
  docs-merge-to-one-artifact: any of: docs/guardian-manual/**/*
  docs-create-production-merge-request: any of: docs/**/*
