Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_management, coverage_management, test_authz, coverage_authz, test_guardian_lib, coverage_guardian_lib, test_port_loader, coverage_port_loader, build_port_loader, build_guardian_lib, build_docker_image_opa, build_docker_image_management_ui, build_docker_image_authz, build_docker_image_management, publish_port_loader, publish_guardian-lib, authz_app_to_test_appcenter, management_app_to_test_appcenter, management_ui_app_to_test_appcenter

test_management:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd management-api
  - pip install poetry=="$POETRY_VERSION"
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_management:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd management-api
  - pip install poetry=="$POETRY_VERSION"
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=guardian_management_api .
  ...

test_authz:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd authorization-api
  - pip install poetry=="$POETRY_VERSION"
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_authz:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd authorization-api
  - pip install poetry=="$POETRY_VERSION"
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=guardian_authorization_api .
  ...

test_guardian_lib:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_guardian_lib:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=guardian_lib .
  - coverage report --fail-under="$GUARDIAN_LIB_COVERAGE_LIMIT"

test_port_loader:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry=="$POETRY_VERSION"
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_port_loader:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry=="$POETRY_VERSION"
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=port_loader .
  - coverage report --fail-under="$PORT_LOADER_COVERAGE_LIMIT"

build_port_loader:
  stage: build_python
  needs:
  - test_port_loader
  - coverage_port_loader
  artifacts:
    paths:
    - port-loader/dist/
    expire_in: 1 week
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry=="$POETRY_VERSION"
  ...

build_guardian_lib:
  stage: build_python
  needs:
  - test_guardian_lib
  - coverage_guardian_lib
  artifacts:
    paths:
    - guardian-lib/dist/
    expire_in: 1 week
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  ...

univention/components/authorization-engine/guardian#153: Add new port-loader
  guardian-lib/CHANGELOG.md
Due: test_guardian_lib, coverage_guardian_lib, build_guardian_lib, publish_guardian-lib

Issue #160: Migrate guardian-lib to use new port-loader
  guardian-lib/CHANGELOG.md
  guardian-lib/guardian_lib/adapters/settings.py
  guardian-lib/guardian_lib/errors.py
  guardian-lib/guardian_lib/models/authentication.py
  guardian-lib/guardian_lib/models/settings.py
  guardian-lib/guardian_lib/ports.py
  guardian-lib/poetry.lock
  guardian-lib/pyproject.toml
  guardian-lib/tests/adapters/test_settings.py
  guardian-lib/tests/test_ports.py
Due: test_guardian_lib, coverage_guardian_lib, build_guardian_lib, publish_guardian-lib

Issue #27: Use guardian-lib 1.4.0
  authorization-api/guardian_authorization_api/models/persistence.py
  authorization-api/guardian_authorization_api/models/policies.py
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  authorization-api/tests/test_ports.py
  management-api/guardian_management_api/adapters/authz.py
  management-api/guardian_management_api/adapters/bundle_server.py
  management-api/guardian_management_api/models/sql_persistence.py
  management-api/poetry.lock
  management-api/pyproject.toml
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

Fix local docker dn claim for Keycloak
  keycloak/provisioning/guardian_client_config.json
Due: none

Issue #169: Fix settings handling
  appcenter-management/compose
  appcenter-management/settings
Due: management_app_to_test_appcenter

Issue #125: add authz for capabilities
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/routers/capability.py
  management-api/tests/conftest.py
  management-api/tests/routes/test_app.py
  management-api/tests/routes/test_capability.py
  management-api/tests/test_business_logic.py
Due: test_management, coverage_management, build_docker_image_management

Issue #100: add authz for namespaces
  management-api/guardian_management_api/adapters/authz.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/routers/namespace.py
  management-api/tests/adapters/test_authz.py
  management-api/tests/routes/test_namespace.py
  management-api/tests/test_business_logic.py
Due: test_management, coverage_management, build_docker_image_management

Issue #101: add authz for roles
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/routers/role.py
  management-api/tests/routes/test_role.py
  management-api/tests/test_business_logic.py
Due: test_management, coverage_management, build_docker_image_management

Issue #104: add authz for conditions
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/routers/condition.py
  management-api/tests/routes/test_condition.py
  management-api/tests/test_business_logic.py
Due: test_management, coverage_management, build_docker_image_management

Issue #103: add authz for permissions
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/routers/permission.py
  management-api/tests/routes/test_permission.py
  management-api/tests/test_business_logic.py
Due: test_management, coverage_management, build_docker_image_management

Issue #102: add authz for context
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/routers/context.py
  management-api/tests/routes/test_context.py
  management-api/tests/test_business_logic.py
Due: test_management, coverage_management, build_docker_image_management

Issue #187: don't retrieve app before authz
  management-api/guardian_management_api/adapters/authz.py
  management-api/guardian_management_api/business_logic.py
  management-api/tests/adapters/test_authz.py
  management-api/tests/test_business_logic.py
Due: test_management, coverage_management, build_docker_image_management

Issue #125: fix lint
  management-api/guardian_management_api/adapters/authz.py
  management-api/tests/adapters/test_authz.py
Due: test_management, coverage_management, build_docker_image_management

Issue #125: fix fixture
  management-api/tests/conftest.py
Due: test_management, coverage_management, build_docker_image_management

Issue #125: add resource_type in OPA adapter
  management-api/guardian_management_api/adapters/authz.py
  management-api/guardian_management_api/models/authz.py
  management-api/tests/adapters/test_authz.py
  management-api/tests/routes/test_condition.py
  management-api/tests/routes/test_role.py
Due: test_management, coverage_management, build_docker_image_management

Issue #134: Create ucs-test-guardian package
  .gitlab-ci.yml
  ucs-test-guardian/99_guardian/10_in_container_authorization
  ucs-test-guardian/99_guardian/10_in_container_management
  ucs-test-guardian/debian/changelog
  ucs-test-guardian/debian/changelog.license
  ucs-test-guardian/debian/control
  ucs-test-guardian/debian/control.license
  ucs-test-guardian/debian/copyright
  ucs-test-guardian/debian/copyright.license
  ucs-test-guardian/debian/rules
  ucs-test-guardian/debian/ucs-test-guardian.install
  ucs-test-guardian/debian/ucslint.overrides
  ucs-test-guardian/debian/ucslint.overrides.license
Due: none

Issue #186: Authorization API container should run at first install
  appcenter-authz/compose
  appcenter-authz/settings
Due: authz_app_to_test_appcenter

Issue #189: fix SSLCertVerificationError for Management API
  appcenter-management/compose
Due: management_app_to_test_appcenter

Issue #131: create/modify keycloak clients for guardian apps
  .env.example
  .gitignore
  .gitlab-ci.yml
  appcenter-authz/inst
  appcenter-authz/scripts/generate-preinst
  appcenter-authz/templates/configure-keycloak.tmpl
  appcenter-authz/templates/preinst.tmpl
  appcenter-common/copyright.tmpl
  appcenter-common/keycloak/configure-keycloak-header.tmpl
  appcenter-common/keycloak/configure-keycloak-helpers.tmpl
  appcenter-common/keycloak/configure-keycloak-main-footer.tmpl
  appcenter-common/keycloak/configure-keycloak.tmpl
  appcenter-common/keycloak/generate-configure-keycloak.sh
  appcenter-management-ui/inst
  appcenter-management-ui/scripts/generate-preinst
  appcenter-management-ui/settings
  appcenter-management-ui/templates/configure-keycloak.tmpl
  appcenter-management-ui/templates/preinst.tmpl
  appcenter-management/inst
  appcenter-management/scripts/generate-preinst
  appcenter-management/templates/configure-keycloak.tmpl
  appcenter-management/templates/preinst.tmpl
  keycloak/provisioning/configure.py
  keycloak/provisioning/guardian_client_ui_config.json
Due: authz_app_to_test_appcenter, management_app_to_test_appcenter, management_ui_app_to_test_appcenter

Issue #190: guardian-cli client can retrieve service accounts
  appcenter-common/keycloak/configure-keycloak-helpers.tmpl
  appcenter-management/templates/configure-keycloak.tmpl
Due: management_app_to_test_appcenter

Issue #53: switch language between German and English
  README.md
  appcenter-management-ui/ini
  appcenter-management-ui/inst
  dev-compose.yaml
  management-ui/README.md
  management-ui/docker/nginx.conf
  management-ui/src/helpers/cookies.ts
  management-ui/src/i18n/index.ts
  management-ui/src/i18n/locales/en.json
  management-ui/src/router/index.ts
  management-ui/src/tests/views/LanguageSelector.vue
  management-ui/src/tests/views/TestView.vue
  management-ui/vite.config.ts
Due: build_docker_image_management_ui, management_ui_app_to_test_appcenter

Issue #99: fix favicon for Management UI
  management-ui/public/favicon.ico
Due: build_docker_image_management_ui

Issue #16: Management UI works in AppCenter
  appcenter-management-ui/compose
  appcenter-management-ui/settings
Due: management_ui_app_to_test_appcenter

Issue #128: Management UI - handle errors
  management-ui/src/adapters/data.ts
  management-ui/src/helpers/configs/addCapabilityViewConfig.ts
  management-ui/src/helpers/configs/addContextViewConfig.ts
  management-ui/src/helpers/configs/addNamespaceViewConfig.ts
  management-ui/src/helpers/configs/addRoleViewConfig.ts
  management-ui/src/helpers/configs/capabilityDetailResponseModel.ts
  management-ui/src/helpers/configs/contextDetailResponseModel.ts
  management-ui/src/helpers/configs/namespaceDetailResponseModel.ts
  management-ui/src/helpers/configs/roleDetailResponseModel.ts
  management-ui/src/helpers/dataAccess.ts
  management-ui/src/helpers/models/interface.ts
  management-ui/src/helpers/validators.ts
  management-ui/src/i18n/index.ts
  management-ui/src/i18n/locales/de.json
  management-ui/src/i18n/locales/en.json
  management-ui/src/ports/data.ts
  management-ui/src/tests/views/DataAdapter.vue
  management-ui/src/views/EditView.vue
  management-ui/src/views/ListView.vue
Due: build_docker_image_management_ui

Change document title for UI
  management-ui/index.html
Due: build_docker_image_management_ui

Issue #134: automate test setup
  ucs-test-guardian/99_guardian/10_in_container_authorization
  ucs-test-guardian/99_guardian/10_in_container_management
  ucs-test-guardian/debian/changelog
  ucs-test-guardian/debian/ucs-test-guardian.install
  ucs-test-guardian/guardian_scripts/set_up_tests.sh
Due: none

Issue #54: add pre-commit checks for Management UI
  .gitlab-ci.yml
  .gitlab-ci/pre_commit_hook_parser.py
  .pre-commit-config.yaml
  management-ui/.prettierrc.json
  management-ui/e2e/tsconfig.json
  management-ui/package.json
  management-ui/src/adapters/data.ts
  management-ui/src/i18n/locales/de.json
  management-ui/src/i18n/locales/en.json
  management-ui/tsconfig.app.json
  management-ui/tsconfig.node.json
  management-ui/tsconfig.vitest.json
Due: build_docker_image_management_ui

Issue #185: fix traceback in logs when database isn't ready
  management-api/guardian_management_api/adapters/bundle_server.py
  management-api/tests/adapters/test_bundle_server.py
  management-api/tests/conftest.py
Due: test_management, coverage_management, build_docker_image_management

Issue #193: Fix: Deleting conditions does not break other conditions
  management-ui/package.json
  management-ui/yarn.lock
Due: build_docker_image_management_ui

Issue #194: Fix not being able to save capabilities with conditions that have parameters
  management-ui/src/helpers/dataAccess.ts
Due: build_docker_image_management_ui

Adjust label + add description for relation field
  management-ui/src/helpers/configs/addCapabilityViewConfig.ts
  management-ui/src/helpers/configs/capabilityDetailResponseModel.ts
  management-ui/src/i18n/locales/de.json
  management-ui/src/i18n/locales/en.json
Due: build_docker_image_management_ui

Show 'documentation' field of conditions
  management-ui/src/helpers/dataAccess.ts
  management-ui/src/helpers/models/interface.ts
Due: build_docker_image_management_ui

Issue #191: Management UI: Fix unusual alignment in ListView for long names
  management-ui/package.json
  management-ui/yarn.lock
Due: build_docker_image_management_ui

Issue #134: make base URL configurable
  management-api/tests/conftest.py
  management-api/tests/routes/test_context.py
  management-api/tests/routes/test_namespace.py
Due: test_management, coverage_management, build_docker_image_management

Issue #134: more fixes
  .env.example
  .gitlab-ci.yml
  management-api/pyproject.toml
  ucs-test-guardian/debian/changelog
  ucs-test-guardian/guardian_scripts/set_up_tests.sh
Due: test_management, coverage_management, build_docker_image_management

Issue #134: remove hardcoded base urls
  management-api/guardian_management_api/adapters/context.py
  management-api/guardian_management_api/adapters/namespace.py
Due: test_management, coverage_management, build_docker_image_management

Apply 1 suggestion(s) to 1 file(s)
  management-ui/src/i18n/locales/en.json
Due: build_docker_image_management_ui

univention/components/authorization-engine/guardian#197: Add authz dependency to management-ui
  appcenter-management-ui/ini
Due: management_ui_app_to_test_appcenter

univention/components/authorization-engine/guardian#197: bump version to 1.0.0
  appcenter-authz/README_UPDATE_EN
  appcenter-authz/ini
  appcenter-management-ui/README_UPDATE_EN
  appcenter-management-ui/ini
  appcenter-management/README_UPDATE_EN
  appcenter-management/ini
  authorization-api/pyproject.toml
  docs/administration-manual/conf.py
  guardian-lib/pyproject.toml
  management-api/pyproject.toml
  management-ui/package.json
Due: test_management, coverage_management, test_authz, coverage_authz, test_guardian_lib, coverage_guardian_lib, build_guardian_lib, build_docker_image_management_ui, build_docker_image_authz, build_docker_image_management, publish_guardian-lib, authz_app_to_test_appcenter, management_app_to_test_appcenter, management_ui_app_to_test_appcenter

Path conditions:
  test_management: any of: management-api/**/*
  coverage_management: any of: management-api/**/*
  test_authz: any of: authorization-api/**/*
  coverage_authz: any of: authorization-api/**/*
  test_guardian_lib: any of: guardian-lib/**/*
  coverage_guardian_lib: any of: guardian-lib/**/*
  test_port_loader: any of: port-loader/**/*
  coverage_port_loader: any of: port-loader/**/*
  build_port_loader: any of: port-loader/**/*
  build_guardian_lib: any of: guardian-lib/**/*
  build_docker_image_opa: any of: opa/**/*
  build_docker_image_management_ui: any of: management-ui/**/*
  build_docker_image_authz: any of: authorization-api/**/*
  build_docker_image_management: any of: management-api/**/*
  publish_port_loader: (not (any of: port-loader/**/*)) and (any of: port-loader/**/*)
  publish_guardian-lib: any of: guardian-lib/**/*
  authz_app_to_test_appcenter: any of: appcenter-authz/**/*
  management_app_to_test_appcenter: any of: appcenter-management/**/*
  management_ui_app_to_test_appcenter: any of: appcenter-management-ui/**/*
