Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_guardian_lib, publish_guardian-lib, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

build_guardian_lib:
  stage: build
  needs:
  - test_guardian_lib
  - coverage_guardian_lib
  artifacts:
    paths:
    - guardian-lib/dist/
    expire_in: 1 week
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  ...

publish_guardian-lib:
  stage: publish
  when: manual
  dependencies:
  - build_guardian_lib
  needs:
  - build_guardian_lib
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  ...

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd $UCS_TEST_PACKAGE && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: $UCS_TEST_PACKAGE/ucslint.xml

ucs_test_deb_build_git:
  stage: build_debian
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd $UCS_TEST_PACKAGE
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
    - $UCS_TEST_PACKAGE/build/

ucs_test_deb_repo_import:
  stage: build_debian
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P $UCS_TEST_PACKAGE -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $UCS_TEST_PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build_debian
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $UCS_TEST_PACKAGE
  
    '

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

fix(ci): update the CI configuration with the consolidated image builds
  .gitlab-ci/gitlab-ci.yml
Due: none

wip: disable AppCenter release
  .gitlab-ci/gitlab-ci.yml
Due: none

fixup! fix(ci): update the CI configuration with the consolidated image builds
  .gitlab-ci/gitlab-ci.yml
Due: none

docs(generated): Update the hackathon docs
  docs/simplify/README.md
  docs/simplify/measurements.md
Due: docs-create-production-merge-request

feat(guardian-server): Switch from uvicorn/gunicorn to granian in preparation of serving the frontentd from rust instead of nginx
  AGENTS.md
  authorization-api/pyproject.toml
  dev-compose.yaml
  docker/guardian-server/Dockerfile
  docs/developer-reference/setup.rst
  guardian-lib/guardian_lib/logging.py
  management-api/pyproject.toml
  pyproject.toml
  uv.lock
Due: build_guardian_lib, publish_guardian-lib, docs-create-production-merge-request

feat(ci): Add pre-commit to pipeline and fix local pre-commit
  .gitlab-ci/gitlab-ci.yml
  .pre-commit-config.yaml
  management-ui/eslint.config.mjs
Due: none

chore(pre-commit): Add docker-compose pre-commit runner for pipeline debugging and faster onboarding of new developers
  docker-compose.yaml
Due: none

fix(ci): Ignore Node engine constraint in management-ui yarn installs
  .gitlab-ci/pre_commit_hook_parser.py
  docker-compose.yaml
  docs/generated/source-tree-analysis.md
  management-ui/.yarnrc
Due: docs-create-production-merge-request

ci: Fix pre-commit runner image
  .gitlab-ci/gitlab-ci.yml
Due: none

fix: pre-commit rego regal hook
  .pre-commit-config.yaml
  .regal/config.yaml
  management-api/alembic/1.0.0_builtin_conditions/actor_does_not_have_role.rego
  management-api/alembic/1.0.0_builtin_conditions/no_targets.rego
  management-api/alembic/1.0.0_builtin_conditions/only_if_param_result_true.rego
  management-api/alembic/1.0.0_builtin_conditions/target_does_not_have_role.rego
  management-api/alembic/1.0.0_builtin_conditions/target_does_not_have_role_in_same_context.rego
  management-api/alembic/1.0.0_builtin_conditions/target_field_equals_actor_field.rego
  management-api/alembic/1.0.0_builtin_conditions/target_field_equals_value.rego
  management-api/alembic/1.0.0_builtin_conditions/target_field_not_equals_value.rego
  management-api/alembic/1.0.0_builtin_conditions/target_has_role.rego
  management-api/alembic/1.0.0_builtin_conditions/target_has_role_in_same_context.rego
  management-api/alembic/1.0.0_builtin_conditions/target_has_same_context.rego
  management-api/alembic/1.0.0_builtin_conditions/target_is_self.rego
  management-api/alembic/3.0.4_builtin_conditions/actor_field_equals_value.rego
  management-api/rego_policy_bundle_template/guardian/conditions/stock.rego
  management-api/rego_policy_bundle_template/univention/base.rego
Due: none

chore: Bump regal pre-commit hook
  .pre-commit-config.yaml
Due: none

ci: Improve paralellization and dependency
  .gitlab-ci/gitlab-ci.yml
Due: none

refactor: Migrate the main guardian packages from poetry to a shared uv workspace
  .pre-commit-config.yaml
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  guardian-lib/poetry.lock
  guardian-lib/pyproject.toml
  management-api/poetry.lock
  management-api/pyproject.toml
  pyproject.toml
  uv.lock
Due: build_guardian_lib, publish_guardian-lib

test: Fix unittests after poetry -> uv migration
  guardian-lib/tests/__init__.py
  management-api/tests/models/__init__.py
  management-api/tests/models/routers/__init__.py
Due: build_guardian_lib, publish_guardian-lib

refactor(authorization-client): Migrate from poetry to uv
  .pre-commit-config.yaml
  authorization-client/poetry.lock
  authorization-client/pyproject.toml
  authorization-client/uv.lock
Due: none

fix(authorization-api): Fix the Dockerfile after the poetry -> uv migration
  authorization-api/Dockerfile
  dev-compose.yaml
Due: none

fix(management-api): Fix the Dockerfile after the poetry -> uv migration
  dev-compose.yaml
  management-api/Dockerfile
Due: none

ci(test): Allign the test coverage configuration with the main branch
  .gitlab-ci/gitlab-ci.yml
  authorization-api/.coveragerc
  authorization-api/pyproject.toml
  guardian-lib/.coveragerc
  management-api/.coveragerc
  pyproject.toml
Due: build_guardian_lib, publish_guardian-lib

test: Update pyproject test config to run all tests without external dependencies by default
  authorization-api/pyproject.toml
  management-api/pyproject.toml
  pyproject.toml
Due: none

fix(pre-commit): Put the pytest hooks into the manual stage because they take some time
  .pre-commit-config.yaml
  README.md
Due: none

ci(test): Testrunner container image to run the unittests in CI
  .gitlab-ci/gitlab-ci.yml
  docker-compose.yaml
  docker/testrunner/Dockerfile
Due: none

fix(authorization-api): Move cryptography from dev dependencies to prod dependencies
  authorization-api/pyproject.toml
  uv.lock
Due: none

ci(authorization-client): Build and publish the package using uv and common-ci component
  .gitlab-ci/gitlab-ci.yml
Due: none

docs(dev): Update the developer docs with the poetry -> uv changes
  .gitlab-ci/gitlab-ci.yml
  README.dev.md
  authorization-api/README.md
  authorization-client/README.md
  docs/project-context.md
  management-api/README.md
Due: docs-create-production-merge-request

ci: fix the docker build jobs after the poetry -> uv migration
  .gitlab-ci/gitlab-ci.yml
Due: none

ci: Run the unittests in CI using uv and the new testrunner container. Publish the authorization-client pip package using uv
  .gitlab-ci/gitlab-ci.yml
Due: none

docs(generated): Update generated docs
  AGENTS.md
  docs/generated/development-guide.md
  docs/generated/technology-stack.md
Due: docs-create-production-merge-request

chore(dev-env): Traefik no longer tries to expose unrelated containers, depends-on for cleaner startup
  dev-compose.yaml
Due: none

tests(management-api): Create the guardian-scripts client and guardian user in Keycloak
  docs/developer-reference/tests.rst
  keycloak/provisioning/configure.py
  keycloak/provisioning/guardian_client_scripts_config.json
Due: docs-create-production-merge-request

fix(pre-commit): Natively install pre-commit npm dependencies in a pre-commit hook
  .pre-commit-config.yaml
Due: none

fix(common-ci): Migrate the Gitlab CI to common-ci patterns and jobs
  .gitlab-ci/gitlab-ci.yml
Due: none

feat(management-api): Add DELETE endpoint for permissions
  management-api/guardian_management_api/adapters/fastapi_utils.py
  management-api/guardian_management_api/adapters/permission.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/errors.py
  management-api/guardian_management_api/ports/permission.py
  management-api/guardian_management_api/routers/permission.py
Due: none

chore: Replace external UCS VM dependency with in-compose ldap-server and udm-rest-api
  .env.example
  dev-compose.yaml
  docker/ucs-config/base-defaults.conf
  docker/ucs-config/base.conf
  management-api/tests/conftest.py
Due: none

feat(management-api): Add DELETE endpoint for conditions
  management-api/guardian_management_api/adapters/condition.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/ports/condition.py
  management-api/guardian_management_api/routers/condition.py
Due: none

test(management-api): Cover permission delete and read_dependencies
  management-api/tests/adapters/test_adapters_permission.py
  management-api/tests/adapters/test_permission.py
  management-api/tests/routes/test_permission.py
Due: none

fixup! feat(management-api): Add DELETE endpoint for conditions
  management-api/guardian_management_api/ports/condition.py
Due: none

fixup! fixup! feat(management-api): Add DELETE endpoint for conditions
  management-api/guardian_management_api/business_logic.py
Due: none

ci: Run e2e-tests with UDM
  .gitlab-ci/gitlab-ci.yml
Due: none

fixup! ci: Run e2e-tests with UDM
  .gitlab-ci/gitlab-ci.yml
Due: none

tests: add architecture tests
  .pre-commit-config.yaml
  .ruff.toml
  authorization-api/pyproject.toml
  authorization-api/tests/test_architecture.py
  guardian-lib/guardian_pytest/architecture.py
  guardian-lib/pyproject.toml
  guardian-lib/tests/test_architecture.py
  management-api/pyproject.toml
  management-api/tests/test_architecture.py
  uv.lock
Due: build_guardian_lib, publish_guardian-lib

Path conditions:
  build_guardian_lib: any of: guardian-lib/**/*
  publish_guardian-lib: any of: guardian-lib/**/*
  ucs_test_deb_lint: any of: ucs-test-guardian/**/*
  ucs_test_deb_build_git: any of: ucs-test-guardian/**/*
  ucs_test_deb_repo_import: any of: ucs-test-guardian/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-guardian/debian/changelog
  docs-linkcheck: any of: docs/guardian-manual/**/*
  docs-spelling: any of: docs/guardian-manual/**/*
  docs-html: any of: docs/guardian-manual/**/*
  docs-pdf: any of: docs/guardian-manual/**/*
  docs-warnings: any of: docs/guardian-manual/**/*
  docs-merge-to-one-artifact: any of: docs/guardian-manual/**/*
  docs-create-production-merge-request: any of: docs/**/*
