Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_guardian_lib, publish_guardian-lib, ucs_test_deb_lint, ucs_test_deb_build_git, ucs_test_deb_repo_import, ucs_test_deb_repo_build, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

build_guardian_lib:
  stage: build
  needs:
  - test_guardian_lib
  - coverage_guardian_lib
  artifacts:
    paths:
    - guardian-lib/dist/
    expire_in: 1 week
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  ...

publish_guardian-lib:
  stage: publish
  when: manual
  dependencies:
  - build_guardian_lib
  needs:
  - build_guardian_lib
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd guardian-lib
  - pip install poetry=="$POETRY_VERSION"
  ...

ucs_test_deb_lint:
  stage: lint
  image:
    name: $UCSLINT_IMAGE
    entrypoint:
    - ''
  script:
  - cd $UCS_TEST_PACKAGE && ucslint -j ucslint.xml
  artifacts:
    reports:
      junit: $UCS_TEST_PACKAGE/ucslint.xml

ucs_test_deb_build_git:
  stage: build_debian
  image: $DEB_IMAGE
  script:
  - apt-get update
  - cd $UCS_TEST_PACKAGE
  - apt-get -q --assume-yes build-dep .
  - dpkg-buildpackage -us -uc
  - install -d -m 755 build
  - mv ../*.tar.*z ../*.dsc ../*.deb ../*.buildinfo ../*.changes build/
  artifacts:
    paths:
    - $UCS_TEST_PACKAGE/build/

ucs_test_deb_repo_import:
  stage: build_debian
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  script:
  - 'repo_admin.py -G $CI_REPOSITORY_URL -b $CI_COMMIT_BRANCH -P $UCS_TEST_PACKAGE -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $UCS_TEST_PACKAGE
  
    '

ucs_test_deb_repo_build:
  stage: build_debian
  needs:
  - job: ucs_test_deb_repo_import
    artifacts: false
  variables:
    GIT_STRATEGY: none
  tags:
  - ladda
  script:
  - 'build-package-ng --no-pbuilder-update -r ${UCS_RELEASE}-0-0 -s $SCOPE -p $UCS_TEST_PACKAGE
  
    '

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

fix(deps): Update docker-registry.knut.univention.de/python Docker tag to v3.12
  .gitlab-ci/gitlab-ci.yml
  keycloak/provisioning/Dockerfile
Due: none

fix(deps): Update Python dependencies
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  guardian-lib/poetry.lock
  guardian-lib/pyproject.toml
  management-api/poetry.lock
  management-api/pyproject.toml
Due: build_guardian_lib, publish_guardian-lib

docs(readme-dev): test setup
  README.dev.md
Due: none

docs: add project documentation
  docs/api-contracts-authorization-api.md
  docs/api-contracts-management-api.md
  docs/api-contracts-management-ui.md
  docs/architecture-authorization-api.md
  docs/architecture-authorization-client.md
  docs/architecture-guardian-lib.md
  docs/architecture-management-api.md
  docs/architecture-management-ui.md
  docs/data-models-authorization-api.md
  docs/data-models-management-api.md
  docs/development-guide.md
  docs/index.md
  docs/integration-architecture.md
  docs/project-overview.md
  docs/project-scan-report.json
  docs/source-tree-analysis.md
  docs/state-management-management-ui.md
  docs/technology-stack.md
  docs/ui-components-management-ui.md
Due: docs-create-production-merge-request

docs: add initial AI guidance (BMAD project context and AGENTS.md)
  AGENTS.md
  _bmad-output/project-context.md
Due: none

chore: fix markdown of GitLab issue templates
  .gitlab/issue_templates/default.md
  .gitlab/issue_templates/dev_ready_epic.md
  .gitlab/issue_templates/prod_ready_epic.md
Due: none

docs: add link to new project documentation to main README files
  README.dev.md
  README.md
Due: none

docs: add cheat sheet about roles, privilege/capabilities, and permissions
  README.dev.md
  docs/guardian_cheat_sheet.pdf
  docs/index.md
Due: docs-create-production-merge-request

chore: move BMAD installation into submodule
  .gitmodules
  .pre-commit-config.yaml
  AGENTS.md
  _bmad-output/planning-artifacts/architecture.md
  _bmad-output/planning-artifacts/prd.md
  _bmad-output/planning-artifacts/ux-design-specification.md
  docs/devel/concept_proposal_ai-optimized.md
  docs/generated/source-tree-analysis.md
  docs/index.md
  docs/project-context.md
Due: docs-create-production-merge-request

docs: add Product Requirements Document (PRD), UX design spec, architecture doc
  AGENTS.md
  _bmad-output/planning-artifacts/architecture.md
  _bmad-output/planning-artifacts/prd.md
  _bmad-output/planning-artifacts/ux-design-specification.md
Due: none

docs: optimize AGENTS.md
  AGENTS.md
  docs/devel/concept_proposal.md
  docs/devel/concept_proposal_ai-optimized.md
  docs/generated/api-contracts-authorization-api.md
  docs/generated/api-contracts-management-api.md
  docs/generated/api-contracts-management-ui.md
  docs/generated/architecture-authorization-api.md
  docs/generated/architecture-authorization-client.md
  docs/generated/architecture-guardian-lib.md
  docs/generated/architecture-management-api.md
  docs/generated/architecture-management-ui.md
  docs/generated/data-models-authorization-api.md
  docs/generated/data-models-management-api.md
  docs/generated/development-guide.md
  docs/generated/integration-architecture.md
  docs/generated/project-overview.md
  docs/generated/project-scan-report.json
  docs/generated/source-tree-analysis.md
  docs/generated/state-management-management-ui.md
  docs/generated/technology-stack.md
  docs/generated/ui-components-management-ui.md
  docs/index.md
Due: docs-create-production-merge-request

fix(docs): deployment, LDAP/UDM, authz endpoint, permission, rename capability to privilege, explain permission calculation
  docs/devel/concept_proposal_ai-optimized.md
Due: docs-create-production-merge-request

docs: add document about how Guardian implements ABAC
  docs/Guardian-ABAC-system-Authorization.png
  docs/Guardian-ABAC-system-Deployment.png
  docs/Guardian-ABAC-system-Management.png
  docs/Guardian-ABAC-system.drawio
  docs/Guardian-ABAC-system.md
  docs/index.md
Due: docs-create-production-merge-request

docs(dev): how to regenerate docs
  .gitignore
  docs/generated/README.md
  docs/index.md
Due: docs-create-production-merge-request

fix(deps): Update Base Image
  authorization-api/Dockerfile
  management-api/Dockerfile
  management-ui/docker/Dockerfile
  opa/Dockerfile
Due: none

chore: prepare release 3.0.9
  appcenter-authz/README_UPDATE_EN
  appcenter-management-ui/README_UPDATE_EN
  appcenter-management/README_UPDATE_EN
  docs/guardian-manual/changelogs.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

chore(pre-commit): Add docker-compose pre-commit runner for pipeline debugging and faster onboarding of new developers
  docker-compose.yaml
Due: none

wip: chore(pre-commit): Fix frontend pre-commit hooks
  .pre-commit-config.yaml
Due: none

test: Fix unittests after poetry -> uv migration
  guardian-lib/tests/__init__.py
  management-api/tests/models/__init__.py
  management-api/tests/models/routers/__init__.py
Due: build_guardian_lib, publish_guardian-lib

refactor: Migrate the main guardian packages from poetry to a shared uv workspace
  authorization-api/pyproject.toml
  guardian-lib/pyproject.toml
  management-api/pyproject.toml
  pyproject.toml
  uv.lock
Due: build_guardian_lib, publish_guardian-lib

chore(pre-commit): Migrate pre-commit hooks after poetry -> uv migration
  .pre-commit-config.yaml
Due: none

fixup! refactor: Migrate the main guardian packages from poetry to a shared uv workspace
  authorization-api/poetry.lock
  guardian-lib/poetry.lock
  management-api/poetry.lock
Due: build_guardian_lib, publish_guardian-lib

refactor(authorization-client): Migrate from poetry to uv
  authorization-client/poetry.lock
  authorization-client/pyproject.toml
  authorization-client/uv.lock
Due: none

fixup! refactor: Migrate the main guardian packages from poetry to a shared uv workspace
  .pre-commit-config.yaml
  uv.lock
Due: none

fix(deps): Pin dependencies
  .gitlab-ci/gitlab-ci.yml
  keycloak/Dockerfile
  keycloak/provisioning/Dockerfile
Due: none

fix(deps): Replace dependency @tsconfig/node18 with @tsconfig/node20
  management-ui/e2e/tsconfig.json
  management-ui/package.json
  management-ui/tsconfig.node.json
Due: none

fix(deps): Replace dependency npm-run-all with npm-run-all2 ^5.0.0
  management-ui/package.json
Due: none

fix(deps): Pin dependencies
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  authorization-client/poetry.lock
  authorization-client/pyproject.toml
  guardian-lib/poetry.lock
  guardian-lib/pyproject.toml
  management-api/poetry.lock
  management-api/pyproject.toml
Due: build_guardian_lib, publish_guardian-lib

fix(deps): Update Node.js dependencies
  management-ui/package.json
  management-ui/yarn.lock
Due: none

fix(deps): Update docker.software-univention.de/keycloak-keycloak Docker tag to v26
  keycloak/Dockerfile
Due: none

fix(deps): Update Node.js dependencies
  management-ui/package.json
Due: none

chore(deps): Lock file maintenance
  authorization-api/poetry.lock
  authorization-client/poetry.lock
  guardian-lib/poetry.lock
  management-api/poetry.lock
Due: build_guardian_lib, publish_guardian-lib

feat(ci): Add pre-commit to pipeline and fix local pre-commit
  .gitlab-ci/gitlab-ci.yml
  .pre-commit-config.yaml
  management-ui/eslint.config.mjs
Due: none

fix(ci): Ignore Node engine constraint in management-ui yarn installs
  management-ui/.yarnrc
Due: none

fix(management-api): Fix the Dockerfile after the poetry -> uv migration
  dev-compose.yaml
  management-api/Dockerfile
Due: none

fix(authorization-api): Fix the Dockerfile after the poetry -> uv migration
  authorization-api/Dockerfile
  dev-compose.yaml
Due: none

Path conditions:
  build_guardian_lib: any of: guardian-lib/**/*
  publish_guardian-lib: any of: guardian-lib/**/*
  ucs_test_deb_lint: any of: ucs-test-guardian/**/*
  ucs_test_deb_build_git: any of: ucs-test-guardian/**/*
  ucs_test_deb_repo_import: any of: ucs-test-guardian/debian/changelog
  ucs_test_deb_repo_build: any of: ucs-test-guardian/debian/changelog
  docs-linkcheck: any of: docs/guardian-manual/**/*
  docs-spelling: any of: docs/guardian-manual/**/*
  docs-html: any of: docs/guardian-manual/**/*
  docs-pdf: any of: docs/guardian-manual/**/*
  docs-warnings: any of: docs/guardian-manual/**/*
  docs-merge-to-one-artifact: any of: docs/guardian-manual/**/*
  docs-create-production-merge-request: any of: docs/**/*
