Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_management, coverage_management, test_authz, coverage_authz, test_port_loader, coverage_port_loader, build_port_loader, build_docker_image_opa, build_docker_image_authz, build_docker_image_management, publish_port_loader, authz_app_to_test_appcenter, management_app_to_test_appcenter

test_management:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd management-api
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_management:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd management-api
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=guardian_management_api .
  - coverage report --fail-under="$MANAGEMENT_COVERAGE_LIMIT"

test_authz:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd authorization-api
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_authz:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd authorization-api
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=guardian_authorization_api .
  - coverage report --fail-under="$AUTHZ_COVERAGE_LIMIT"

test_port_loader:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_port_loader:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=port_loader .
  - coverage report --fail-under="$PORT_LOADER_COVERAGE_LIMIT"

build_port_loader:
  stage: build_python
  needs:
  - test_port_loader
  - coverage_port_loader
  artifacts:
    paths:
    - port-loader/dist/
    expire_in: 1 week
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry
  ...

build_docker_image_opa:
  stage: build_docker
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/opa
    CI_REGISTRY_IMAGE: $CI_REGISTRY_IMAGE/guardian-opa
    KANIKO_ARGS: --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo=$CI_REGISTRY_IMAGE/cache

build_docker_image_authz:
  stage: build_docker
  needs:
  - test_authz
  - coverage_authz
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/authorization-api
    CI_REGISTRY_IMAGE: $CI_REGISTRY_IMAGE/guardian-authorization-api
  ...

build_docker_image_management:
  stage: build_docker
  needs:
  - test_management
  - coverage_management
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/management-api
    CI_REGISTRY_IMAGE: $CI_REGISTRY_IMAGE/guardian-management-api
  ...

publish_port_loader:
  stage: publish
  when: manual
  dependencies:
  - build_port_loader
  needs:
  - build_port_loader
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry
  ...

Issue #25: Create local dev setup
  .env-dev
  README.md
  authorization-api/Dockerfile
  authorization-api/README.md
  dev-compose.yaml
  management-api/Dockerfile
  management-api/README.md
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

Issue #4: Add guardianRole
  .gitlab-ci.yml
  appcenter-authz/ini
  appcenter-management/files/guardian.schema
  appcenter-management/files/guardian_syntax.py
  appcenter-management/inst
  appcenter-management/preinst.tmpl
Due: authz_app_to_test_appcenter, management_app_to_test_appcenter

univention/components/authorization-engine/guardian#3: Copy over udm client from ucs repo
  .pre-commit-config.yaml
  authorization-api/.coveragerc
  authorization-api/guardian_authorization_api/udm_client.py
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
Due: test_authz, coverage_authz, build_docker_image_authz

univention/components/authorization-engine/guardian#3: Improve documentation and dev setup
  .env-dev
  .env.example
  .gitignore
  README.md
  authorization-api/README.md
  dev-compose.yaml
Due: test_authz, coverage_authz, build_docker_image_authz

univention/components/authorization-engine/guardian#3: Implement UDM persistence adapter
  .env-dev
  appcenter-authz/compose
  appcenter-authz/settings
  authorization-api/Dockerfile
  authorization-api/README.md
  authorization-api/guardian_authorization_api/adapters/persistence.py
  authorization-api/guardian_authorization_api/models/persistence.py
  authorization-api/pyproject.toml
  authorization-api/tests/adapters/test_persistence.py
Due: test_authz, coverage_authz, build_docker_image_authz, authz_app_to_test_appcenter

univention/components/authorization-engine/guardian#24: Adapt existing models to proper structure
  management-api/guardian_management_api/adapters/app.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/models/routers/app.py
  management-api/guardian_management_api/routers/app.py
  management-api/tests/adapters/test_adapters_app.py
  management-api/tests/routes/test_app.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#24: Move models and routers to their own packages
  management-api/guardian_management_api/adapters/app.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/main.py
  management-api/guardian_management_api/models/routers/__init__.py
  management-api/guardian_management_api/models/routers/app.py
  management-api/guardian_management_api/models/routers/base.py
  management-api/guardian_management_api/routers/__init__.py
  management-api/guardian_management_api/routers/app.py
  management-api/tests/adapters/test_adapters_app.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#24: Configure coverage for management-api
  authorization-api/.coveragerc
  management-api/.coveragerc
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

univention/components/authorization-engine/guardian#24: Change model names for apps
  management-api/guardian_management_api/adapters/app.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/models/routers/app.py
  management-api/guardian_management_api/routers/app.py
  management-api/tests/adapters/test_adapters_app.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#24: Add Namespace routes
  management-api/guardian_management_api/main.py
  management-api/guardian_management_api/models/routers/namespace.py
  management-api/guardian_management_api/routers/namespace.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#24: Add missing license notes
  appcenter-management/files/guardian_syntax.py
  dev-compose.yaml
  management-api/guardian_management_api/models/routers/app.py
  management-api/guardian_management_api/models/routers/base.py
  management-api/guardian_management_api/models/routers/namespace.py
  management-api/guardian_management_api/routers/app.py
  management-api/guardian_management_api/routers/namespace.py
  management-api/tests/adapters/test_adapters_app.py
  management-api/tests/conftest.py
  management-api/tests/routes/test_app.py
  management-api/tests/test_constants.py
  management-api/tests/test_main.py
Due: test_management, coverage_management, build_docker_image_management, management_app_to_test_appcenter

Fix warnings when running Guardian tests
  authorization-api/tests/test_adapter_registry.py
  port-loader/CHANGELOG.md
  port-loader/port_loader/utils.py
  port-loader/pyproject.toml
  port-loader/tests/test_utils.py
Due: test_authz, coverage_authz, test_port_loader, coverage_port_loader, build_port_loader, build_docker_image_authz, publish_port_loader

Bump port-loader to 1.0.1
  authorization-api/poetry.lock
  management-api/poetry.lock
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

univention/components/authorization-engine/guardian#24: Add all routes for apps
  management-api/guardian_management_api/adapters/app.py
  management-api/guardian_management_api/models/routers/app.py
  management-api/guardian_management_api/routers/app.py
  management-api/tests/adapters/test_adapters_app.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#24: Fix dev compose file
  dev-compose.yaml
Due: none

univention/components/authorization-engine/guardian#24: Add all routes for roles
  management-api/.coveragerc
  management-api/guardian_management_api/main.py
  management-api/guardian_management_api/models/routers/role.py
  management-api/guardian_management_api/routers/role.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#24: Add all routes for custom endpoint
  management-api/.coveragerc
  management-api/guardian_management_api/main.py
  management-api/guardian_management_api/models/routers/custom_endpoint.py
  management-api/guardian_management_api/routers/custom_endpoint.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#24: Add all routes for condition
  management-api/.coveragerc
  management-api/guardian_management_api/main.py
  management-api/guardian_management_api/models/routers/condition.py
  management-api/guardian_management_api/routers/condition.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#24: Fix namespace routes
  management-api/guardian_management_api/models/routers/namespace.py
  management-api/guardian_management_api/routers/namespace.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#24: Add all routes for permission
  management-api/.coveragerc
  management-api/guardian_management_api/main.py
  management-api/guardian_management_api/models/routers/permission.py
  management-api/guardian_management_api/routers/permission.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#24: Add all routes for context
  management-api/.coveragerc
  management-api/guardian_management_api/main.py
  management-api/guardian_management_api/models/routers/context.py
  management-api/guardian_management_api/routers/context.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#24: Add all routes for role capability mapping
  management-api/.coveragerc
  management-api/guardian_management_api/main.py
  management-api/guardian_management_api/models/routers/mapping.py
  management-api/guardian_management_api/routers/mapping.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#24: Extend routers base module with common models
  management-api/guardian_management_api/adapters/app.py
  management-api/guardian_management_api/models/routers/base.py
Due: test_management, coverage_management, build_docker_image_management

Add issue templates for dev ready and production ready epics
  .gitlab/issue_templates/dev_ready_epic.md
  .gitlab/issue_templates/prod_ready_epic.md
Due: none

Issue #56: add GET /apps endpoint
  docs/devel/management_ports/app.py
  management-api/guardian_management_api/adapters/app.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/models/app.py
  management-api/guardian_management_api/models/base.py
  management-api/guardian_management_api/models/routers/app.py
  management-api/guardian_management_api/models/routers/base.py
  management-api/guardian_management_api/ports/app.py
  management-api/guardian_management_api/routers/app.py
  management-api/tests/adapters/test_adapters_app.py
  management-api/tests/routes/test_app.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#23: Add guardian-lib
  .gitlab-ci.yml
  .pre-commit-config.yaml
  guardian-lib/.coveragerc
  guardian-lib/CHANGELOG.md
  guardian-lib/README.md
  guardian-lib/guardian_lib/__init__.py
  guardian-lib/guardian_lib/adapter_registry.py
  guardian-lib/guardian_lib/adapters/__init__.py
  guardian-lib/guardian_lib/adapters/settings.py
  guardian-lib/guardian_lib/errors.py
  guardian-lib/guardian_lib/logging.py
  guardian-lib/guardian_lib/models/__init__.py
  guardian-lib/guardian_lib/models/settings.py
  guardian-lib/guardian_lib/ports.py
  guardian-lib/poetry.lock
  guardian-lib/pyproject.toml
  guardian-lib/tests/__init__.py
  guardian-lib/tests/adapters/test_settings.py
  guardian-lib/tests/test_adapter_registry.py
  guardian-lib/tests/test_logging.py
  guardian-lib/tests/test_ports.py
Due: none

univention/components/authorization-engine/guardian#23: Use guardian-lib
  authorization-api/Dockerfile
  authorization-api/guardian_authorization_api/adapter_registry.py
  authorization-api/guardian_authorization_api/adapters/settings.py
  authorization-api/guardian_authorization_api/errors.py
  authorization-api/guardian_authorization_api/logging.py
  authorization-api/guardian_authorization_api/main.py
  authorization-api/guardian_authorization_api/models/persistence.py
  authorization-api/guardian_authorization_api/models/policies.py
  authorization-api/guardian_authorization_api/models/settings.py
  authorization-api/guardian_authorization_api/ports.py
  authorization-api/guardian_authorization_api/routes.py
  authorization-api/poetry.lock
  authorization-api/pyproject.toml
  authorization-api/tests/adapters/test_settings.py
  authorization-api/tests/test_adapter_registry.py
  authorization-api/tests/test_logging.py
  authorization-api/tests/test_ports.py
  dev-compose.yaml
  management-api/.coveragerc
  management-api/Dockerfile
  management-api/guardian_management_api/adapter_registry.py
  management-api/guardian_management_api/adapters/settings.py
  management-api/guardian_management_api/errors.py
  management-api/guardian_management_api/logging.py
  management-api/guardian_management_api/main.py
  management-api/guardian_management_api/models/settings.py
  management-api/guardian_management_api/ports/app.py
  management-api/guardian_management_api/ports/base.py
  management-api/guardian_management_api/ports/role.py
  management-api/guardian_management_api/ports/settings.py
  management-api/guardian_management_api/routers/app.py
  management-api/poetry.lock
  management-api/pyproject.toml
  management-api/tests/adapters/test_settings.py
  management-api/tests/conftest.py
  management-api/tests/test_adapter_registry.py
  management-api/tests/test_logging.py
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

univention/components/authorization-engine/guardian#33: Define BasePersistencePort
  management-api/guardian_management_api/models/base.py
  management-api/guardian_management_api/ports/app.py
  management-api/guardian_management_api/ports/base.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#33: Adapt AppPersistencePort
  management-api/guardian_management_api/adapters/app.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/models/app.py
  management-api/guardian_management_api/models/base.py
  management-api/tests/adapters/test_adapters_app.py
Due: test_management, coverage_management, build_docker_image_management

Fix docker install of poetry
  authorization-api/Dockerfile
  management-api/Dockerfile
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

Issue #18: Disable OPA telemetry
  .gitignore
  opa/s6-rc.d/opa/run
Due: build_docker_image_opa

Fix missing ampersand
  authorization-api/Dockerfile
Due: test_authz, coverage_authz, build_docker_image_authz

univention/components/authorization-engine/guardian#33: Add SQLPermissionPersistenceAdapter
  management-api/guardian_management_api/adapters/permission.py
  management-api/guardian_management_api/models/permission.py
  management-api/guardian_management_api/ports/permission.py
  management-api/tests/adapters/test_permission.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#33: Add SQLAppPersistenceAdapter
  management-api/guardian_management_api/adapters/app.py
  management-api/guardian_management_api/models/app.py
  management-api/pyproject.toml
  management-api/tests/adapters/test_adapters_app.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#33: Change errors in port definition
  management-api/guardian_management_api/errors.py
  management-api/guardian_management_api/ports/base.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#33: Add SQLNamespacePersistenceAdapter
  management-api/guardian_management_api/adapters/namespace.py
  management-api/guardian_management_api/models/namespace.py
  management-api/guardian_management_api/ports/namespace.py
  management-api/pyproject.toml
  management-api/tests/adapters/test_namespace.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#33: Add sqlalchemy, alembic, SQLAlchemyMixin and first migration
  .env.example
  .gitignore
  .pre-commit-config.yaml
  dev-compose.yaml
  management-api/alembic.ini
  management-api/alembic/README
  management-api/alembic/env.py
  management-api/alembic/script.py.mako
  management-api/alembic/versions/1.0.0_initial_schema.py
  management-api/guardian_management_api/adapters/sql_persistence.py
  management-api/guardian_management_api/models/sql_persistence.py
  management-api/poetry.lock
  management-api/pyproject.toml
  management-api/tests/adapters/test_sql_persistence.py
  management-api/tests/conftest.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#33: Add SQLContextPersistenceAdapter
  management-api/guardian_management_api/adapters/context.py
  management-api/guardian_management_api/models/context.py
  management-api/guardian_management_api/ports/context.py
  management-api/tests/adapters/test_context.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#33: Add SQLConditionPersistenceAdapter
  management-api/guardian_management_api/adapters/condition.py
  management-api/guardian_management_api/models/condition.py
  management-api/guardian_management_api/ports/condition.py
  management-api/tests/adapters/test_condition.py
Due: test_management, coverage_management, build_docker_image_management

Path conditions:
  test_management: any of: management-api/**/*
  coverage_management: any of: management-api/**/*
  test_authz: any of: authorization-api/**/*
  coverage_authz: any of: authorization-api/**/*
  test_port_loader: any of: port-loader/**/*
  coverage_port_loader: any of: port-loader/**/*
  build_port_loader: any of: port-loader/**/*
  build_docker_image_opa: any of: opa/**/*
  build_docker_image_authz: any of: authorization-api/**/*
  build_docker_image_management: any of: management-api/**/*
  publish_port_loader: any of: port-loader/**/*
  authz_app_to_test_appcenter: any of: appcenter-authz/**/*
  management_app_to_test_appcenter: any of: appcenter-management/**/*
