Repository univention/guardian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_management, coverage_management, test_authz, coverage_authz, test_port_loader, coverage_port_loader, build_port_loader, build_docker_image_opa, build_docker_image_authz, build_docker_image_management, publish_port_loader, authz_app_to_test_appcenter, management_app_to_test_appcenter

test_management:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd management-api
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_management:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd management-api
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=guardian_management_api .
  - coverage report --fail-under="$MANAGEMENT_COVERAGE_LIMIT"

test_authz:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd authorization-api
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_authz:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd authorization-api
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=guardian_authorization_api .
  - coverage report --fail-under="$AUTHZ_COVERAGE_LIMIT"

test_port_loader:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv .

coverage_port_loader:
  stage: test
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry
  - poetry config --local virtualenvs.create false
  - poetry install
  - pytest -vv --cov=port_loader .
  - coverage report --fail-under="$PORT_LOADER_COVERAGE_LIMIT"

build_port_loader:
  stage: build_python
  needs:
  - test_port_loader
  - coverage_port_loader
  artifacts:
    paths:
    - port-loader/dist/
    expire_in: 1 week
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry
  ...

build_docker_image_opa:
  stage: build_docker
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/opa
    CI_REGISTRY_IMAGE: $CI_REGISTRY_IMAGE/guardian-opa
    KANIKO_ARGS: --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo=$CI_REGISTRY_IMAGE/cache

build_docker_image_authz:
  stage: build_docker
  needs:
  - test_authz
  - coverage_authz
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/authorization-api
    CI_REGISTRY_IMAGE: $CI_REGISTRY_IMAGE/guardian-authorization-api
  ...

build_docker_image_management:
  stage: build_docker
  needs:
  - test_management
  - coverage_management
  variables:
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR/management-api
    CI_REGISTRY_IMAGE: $CI_REGISTRY_IMAGE/guardian-management-api
  ...

publish_port_loader:
  stage: publish
  when: manual
  dependencies:
  - build_port_loader
  needs:
  - build_port_loader
  image: docker-registry.knut.univention.de/python:3.11-slim
  script:
  - cd port-loader
  - pip install poetry
  ...

Issue #47: skeleton port/adapter for data backend
  .env.example
  management-ui/README.md
  management-ui/src/adapters/data.ts
  management-ui/src/helpers/models/apps.ts
  management-ui/src/helpers/models/capabilities.ts
  management-ui/src/helpers/models/conditions.ts
  management-ui/src/helpers/models/contexts.ts
  management-ui/src/helpers/models/namespaces.ts
  management-ui/src/helpers/models/permissions.ts
  management-ui/src/helpers/models/roles.ts
  management-ui/src/ports/data.ts
  management-ui/src/stores/adapter.ts
  management-ui/src/stores/settings.ts
Due: none

Pin yarn version
  management-ui/README.md
  management-ui/package.json
Due: none

Update yarn
  management-ui/.npmrc
  management-ui/.yarnrc.yml
  management-ui/package.json
  management-ui/yarn.lock
Due: none

Issue #112: split target role and context in existing conditions
  management-api/alembic/1.0.0_builtin_conditions/actor_does_not_have_role.rego
  management-api/alembic/1.0.0_builtin_conditions/actor_does_not_have_role_test.rego
  management-api/alembic/1.0.0_builtin_conditions/target_does_not_have_role.rego
  management-api/alembic/1.0.0_builtin_conditions/target_does_not_have_role_test.rego
  management-api/alembic/1.0.0_builtin_conditions/target_has_role.rego
  management-api/alembic/1.0.0_builtin_conditions/target_has_role_test.rego
  management-api/alembic/1.0.0_builtin_conditions/utils.rego
Due: test_management, coverage_management, build_docker_image_management

Issue #112: implement extract_role_and_context
  management-api/rego_policy_bundle_template/univention/utils.rego
  management-api/rego_policy_bundle_template/univention/utils_test.rego
Due: test_management, coverage_management, build_docker_image_management

Issue #112: split role and context
  management-api/alembic/1.0.0_builtin_conditions/actor_does_not_have_role_test.rego
  management-api/alembic/1.0.0_builtin_conditions/no_targets_test.rego
  management-api/alembic/1.0.0_builtin_conditions/only_if_param_result_true.rego
  management-api/alembic/1.0.0_builtin_conditions/only_if_param_result_true_test.rego
  management-api/alembic/1.0.0_builtin_conditions/target_does_not_have_role_test.rego
  management-api/alembic/1.0.0_builtin_conditions/target_field_equals_actor_field_test.rego
  management-api/alembic/1.0.0_builtin_conditions/target_field_equals_value_test.rego
  management-api/alembic/1.0.0_builtin_conditions/target_field_not_equals_value_test.rego
  management-api/alembic/1.0.0_builtin_conditions/target_has_role_test.rego
  management-api/alembic/1.0.0_builtin_conditions/target_is_self_test.rego
  management-api/rego_policy_bundle_template/guardian/conditions/stock_test.rego
  management-api/rego_policy_bundle_template/univention/base.rego
  management-api/rego_policy_bundle_template/univention/base_test.rego
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#126: Fix names in generated mapping
  management-api/guardian_management_api/adapters/bundle_server.py
  management-api/tests/adapters/test_bundle_server.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#126: Correct generation of namespaces parameter for OPA
  authorization-api/guardian_authorization_api/adapters/api.py
  authorization-api/guardian_authorization_api/adapters/policies.py
Due: test_authz, coverage_authz, build_docker_image_authz

univention/components/authorization-engine/guardian#126: Ensure presence of target id
  management-api/rego_policy_bundle_template/univention/base.rego
  management-api/rego_policy_bundle_template/univention/utils.rego
  management-api/rego_policy_bundle_template/univention/utils_test.rego
Due: test_management, coverage_management, build_docker_image_management

Issue #119: target_has_same_context condition
  management-api/alembic/1.0.0_builtin_conditions/target_has_same_context.json
  management-api/alembic/1.0.0_builtin_conditions/target_has_same_context.rego
  management-api/alembic/1.0.0_builtin_conditions/target_has_same_context_test.rego
Due: test_management, coverage_management, build_docker_image_management

Issue #119: target_does_not_have_role_in_same_context condition
  management-api/alembic/1.0.0_builtin_conditions/target_does_not_have_role_in_same_context.json
  management-api/alembic/1.0.0_builtin_conditions/target_does_not_have_role_in_same_context.rego
  management-api/alembic/1.0.0_builtin_conditions/target_does_not_have_role_in_same_context_test.rego
Due: test_management, coverage_management, build_docker_image_management

Issue #119: target_has_role_in_same_context condition
  management-api/alembic/1.0.0_builtin_conditions/target_has_role_in_same_context.json
  management-api/alembic/1.0.0_builtin_conditions/target_has_role_in_same_context.rego
  management-api/alembic/1.0.0_builtin_conditions/target_has_role_in_same_context_test.rego
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#123: Add correct return types for capability routes
  management-api/guardian_management_api/routers/capability.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#123: Make condition parameters objects and add type hinting
  management-api/alembic/1.0.0_builtin_conditions/actor_does_not_have_role.json
  management-api/alembic/1.0.0_builtin_conditions/no_targets.json
  management-api/alembic/1.0.0_builtin_conditions/only_if_param_result_true.json
  management-api/alembic/1.0.0_builtin_conditions/target_does_not_have_role.json
  management-api/alembic/1.0.0_builtin_conditions/target_does_not_have_role_in_same_context.json
  management-api/alembic/1.0.0_builtin_conditions/target_field_equals_actor_field.json
  management-api/alembic/1.0.0_builtin_conditions/target_field_equals_value.json
  management-api/alembic/1.0.0_builtin_conditions/target_field_not_equals_value.json
  management-api/alembic/1.0.0_builtin_conditions/target_has_role.json
  management-api/alembic/1.0.0_builtin_conditions/target_has_role_in_same_context.json
  management-api/alembic/1.0.0_builtin_conditions/target_has_same_context.json
  management-api/alembic/1.0.0_builtin_conditions/target_is_self.json
  management-api/alembic/versions/1.0.0_initial_schema.py
  management-api/guardian_management_api/adapters/capability.py
  management-api/guardian_management_api/adapters/condition.py
  management-api/guardian_management_api/models/condition.py
  management-api/guardian_management_api/models/routers/condition.py
  management-api/guardian_management_api/models/sql_persistence.py
  management-api/tests/adapters/test_condition.py
  management-api/tests/conftest.py
  management-api/tests/models/test_sql_persistence.py
  management-api/tests/routes/test_condition.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#123: Add value_types to capability response
  management-api/guardian_management_api/adapters/capability.py
  management-api/guardian_management_api/models/capability.py
  management-api/guardian_management_api/models/routers/capability.py
  management-api/tests/adapters/test_capability.py
  management-api/tests/conftest.py
  management-api/tests/routes/test_capability.py
Due: test_management, coverage_management, build_docker_image_management

Issue #42: add fixture to use test mapping
  authorization-api/tests/conftest.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #42: check permissions with lookup
  authorization-api/guardian_authorization_api/adapters/api.py
  authorization-api/guardian_authorization_api/business_logic.py
  authorization-api/guardian_authorization_api/ports.py
  authorization-api/guardian_authorization_api/routes.py
  authorization-api/tests/conftest.py
  authorization-api/tests/mock_classes.py
  authorization-api/tests/routes/test_permissions_check.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #44: get permissions with lookup
  authorization-api/guardian_authorization_api/adapters/api.py
  authorization-api/guardian_authorization_api/business_logic.py
  authorization-api/guardian_authorization_api/ports.py
  authorization-api/guardian_authorization_api/routes.py
  authorization-api/tests/routes/test_get_permissions.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #42: fix test get permissions tests
  authorization-api/tests/routes/test_get_permissions.py
Due: test_authz, coverage_authz, build_docker_image_authz

univention/components/authorization-engine/guardian#88: Add super user role including permissions and capability
  management-api/alembic/versions/1.0.0_initial_schema.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#88: Fix bundle generation
  management-api/guardian_management_api/adapters/bundle_server.py
  management-api/tests/adapters/test_bundle_server.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#88: Fix capability creation with duplicate conditions
  management-api/guardian_management_api/adapters/capability.py
  management-api/tests/adapters/test_capability.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#88: Create app admin for guardian app in migration
  management-api/alembic/versions/1.0.0_initial_schema.py
Due: test_management, coverage_management, build_docker_image_management

univention/components/authorization-engine/guardian#89: Create app admin capabilities in app register
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/routers/app.py
  management-api/tests/conftest.py
  management-api/tests/routes/test_app.py
Due: test_management, coverage_management, build_docker_image_management

Issue #47: test interface for data adapter
  management-ui/src/router/index.ts
  management-ui/src/tests/views/DataAdapter.vue
  management-ui/src/tests/views/TestView.vue
Due: none

Issue #47: mock port/adapter for Management API
  management-ui/package.json
  management-ui/src/adapters/data.ts
  management-ui/src/helpers/mocks/api/apps.ts
  management-ui/src/helpers/mocks/api/capabilities.ts
  management-ui/src/helpers/mocks/api/conditions.ts
  management-ui/src/helpers/mocks/api/contexts.ts
  management-ui/src/helpers/mocks/api/namespaces.ts
  management-ui/src/helpers/mocks/api/pagination.ts
  management-ui/src/helpers/mocks/api/permissions.ts
  management-ui/src/helpers/mocks/api/roles.ts
  management-ui/src/helpers/models/apps.ts
  management-ui/src/helpers/models/capabilities.ts
  management-ui/src/helpers/models/conditions.ts
  management-ui/src/helpers/models/contexts.ts
  management-ui/src/helpers/models/namespaces.ts
  management-ui/src/helpers/models/pagination.ts
  management-ui/src/helpers/models/permissions.ts
  management-ui/src/helpers/models/roles.ts
  management-ui/src/stores/settings.ts
  management-ui/src/tests/assets/style.styl
  management-ui/src/tests/components/SettingsConfig.vue
  management-ui/src/tests/views/AuthenticationAdapter.vue
  management-ui/src/tests/views/SettingsAdapter.vue
  management-ui/yarn.lock
Due: none

Add oauth authentication to management-api
  .env.example
  README.md
  authorization-api/guardian_authorization_api/main.py
  dev-compose.yaml
  guardian-lib/CHANGELOG.md
  guardian-lib/guardian_lib/adapters/authentication.py
  guardian-lib/pyproject.toml
  keycloak/Dockerfile
  keycloak/provisioning/configure.py
  keycloak/provisioning/guardian_client_config.json
  management-api/guardian_management_api/adapter_registry.py
  management-api/guardian_management_api/main.py
  management-api/poetry.lock
  management-api/pyproject.toml
  management-api/tests/adapters/test_adapters_app.py
  management-api/tests/adapters/test_adapters_permission.py
  management-api/tests/adapters/test_adapters_role.py
  management-api/tests/adapters/test_capability.py
  management-api/tests/adapters/test_condition.py
  management-api/tests/adapters/test_context.py
  management-api/tests/adapters/test_namespace.py
  management-api/tests/adapters/test_permission.py
  management-api/tests/conftest.py
  management-api/tests/routes/test_app.py
  management-api/tests/routes/test_context.py
  management-api/tests/routes/test_permission.py
  management-api/tests/routes/test_router_namespace.py
  management-api/tests/test_adapter_registry.py
  management-api/tests/test_business_logic.py
Due: test_management, coverage_management, test_authz, coverage_authz, build_docker_image_authz, build_docker_image_management

Issue #42: docu test setup for integration tests with test mapping
  authorization-api/README.md
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #42: (squash me) move lookup_actor_and_old_targets & to_policy_object to persistence layer; handle None in old targets
  authorization-api/guardian_authorization_api/adapters/api.py
  authorization-api/guardian_authorization_api/adapters/persistence.py
  authorization-api/guardian_authorization_api/business_logic.py
  authorization-api/guardian_authorization_api/ports.py
  authorization-api/tests/adapters/test_persistence.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #42: check permissions with lookup
  authorization-api/guardian_authorization_api/adapters/api.py
  authorization-api/guardian_authorization_api/adapters/persistence.py
  authorization-api/guardian_authorization_api/business_logic.py
  authorization-api/guardian_authorization_api/ports.py
  authorization-api/guardian_authorization_api/routes.py
  authorization-api/tests/adapters/test_persistence.py
  authorization-api/tests/conftest.py
  authorization-api/tests/mock_classes.py
  authorization-api/tests/routes/test_permissions_check.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #44: get permissions with loopup
  authorization-api/guardian_authorization_api/adapters/api.py
  authorization-api/guardian_authorization_api/business_logic.py
  authorization-api/guardian_authorization_api/ports.py
  authorization-api/guardian_authorization_api/routes.py
  authorization-api/tests/routes/test_get_permissions.py
Due: test_authz, coverage_authz, build_docker_image_authz

Issue #98: Support mysql and postgresql dialects
  .pre-commit-config.yaml
  dev-compose-mariadb.yaml
  dev-compose-postgres.yaml
  dev-compose.yaml
  dev-run
  management-api/alembic/versions/1.0.0_initial_schema.py
  management-api/guardian_management_api/adapters/role.py
  management-api/guardian_management_api/adapters/sql_persistence.py
  management-api/guardian_management_api/business_logic.py
  management-api/guardian_management_api/models/sql_persistence.py
  management-api/poetry.lock
  management-api/pyproject.toml
  management-api/tests/adapters/test_sql_persistence.py
  management-api/tests/conftest.py
  management-api/tests/routes/test_role.py
Due: test_management, coverage_management, build_docker_image_management

Issue #98: Add coverage exceptions
  management-api/guardian_management_api/main.py
Due: test_management, coverage_management, build_docker_image_management

Issue #41: Management UI: dockerize for production
  .gitignore
  .gitlab-ci.yml
  dev-compose.yaml
  management-ui/.dockerignore
  management-ui/docker/Dockerfile
  management-ui/docker/nginx.conf
  management-ui/docker/startup.sh
  management-ui/vite.config.ts
Due: none

Issue #41: update README
  README.md
Due: none

Path conditions:
  test_management: any of: management-api/**/*
  coverage_management: any of: management-api/**/*
  test_authz: any of: authorization-api/**/*
  coverage_authz: any of: authorization-api/**/*
  test_port_loader: any of: port-loader/**/*
  coverage_port_loader: any of: port-loader/**/*
  build_port_loader: any of: port-loader/**/*
  build_docker_image_opa: any of: opa/**/*
  build_docker_image_authz: any of: authorization-api/**/*
  build_docker_image_management: any of: management-api/**/*
  publish_port_loader: any of: port-loader/**/*
  authz_app_to_test_appcenter: any of: appcenter-authz/**/*
  management_app_to_test_appcenter: any of: appcenter-management/**/*
